[2018-11-21 10:14] oskarhane commented on #873
This is interesting. I can reproduce this locally using your data (thanks for providing that).
We'll investigate.

[2018-11-21 16:48] merlinr68 commented on #867
+1

[2018-11-22 02:21] Eric-Showers opened #874 "Memory usage grows rapidly and freezes browser"
### Description

Once connected to a server's browser page, memory usage quickly grows to >3GB after a few minutes. This eventually freezes Firefox, forcing me to kill the process. Neo4J Browser is essentially unresponsive while this is happening - other than a few actions given at the very start.

I am currently experiencing this with two different databases, both of which are running different d

[2018-11-22 10:46] #873 closed

[2018-11-22 10:54] oskarhane commented on #874
Interesting, thanks for the detailed report. We'll have a look at it.

[2018-11-22 18:07] micahstubbs commented on #870
@oskarhane thanks for putting the issue on the right repo!

[2018-11-23 11:18] #799 closed

[2018-11-23 11:19] #808 closed

[2018-11-23 11:21] oskarhane commented on #865
This is really unusual @mdafer. Is that just for a specific password or any password?

[2018-11-24 19:33] ruslanrf commented on #871
I have the same issue.

[2018-11-26 10:05] #867 closed

[2018-11-26 10:43] oskarhane commented on #684
Fixed with https://github.com/neo4j/neo4j-browser/pull/877

[2018-11-26 10:43] #684 closed

[2018-11-28 05:59] behemothdan commented on #808
That worked for me as well @adtodesco - thanks for sharing!

[2018-11-28 13:46] ThomasFrisendal opened #881 "Multi statement in Desktop - problem with backticks"
### Description
I am using apoc.xml.import, which generates property names containing hyphens. For that reason it is necessary to surround those names with backticks. It works fine in Desktop for single statements, but it causes syntax errors, when the same statement is used in a multi statement script in Desktop.

### Reproduce Steps
Example statement that works fine as a single statement, but fa

[2018-11-30 19:36] bsquire0128 commented on #873
Was this issue ever solved?

[2018-12-03 08:16] oskarhane commented on #873
@bsquire0128, yeah, you can see the linked PR that fixes it just above your last command.
It's out in neo4j-browser version 3.2.14.

[2018-12-04 12:46] shekharpaty opened #882 "failed: Establishing a tunnel via proxy server failed."
I have a Neo4j release 3.5.0 community edition running on Centos 7  64 bit and Firefox 63.0.3 64 bit , we are performing tests in our internal environment, we have disabled SELINUX, firewall . I have uncommented the http and bolt related settings in neo4j.conf.
my config file looks like this.

[root@localhost conf]# grep "^[^#;]"  neo4j.conf
dbms.directories.import=import
dbms.connectors.default_l

[2018-12-04 13:09] oskarhane commented on #882
Hi @shekharpaty, thanks for the report.

To narrow this down, could you try it with a different web browser?

From what url are you loading neo4j-browser?
What's the output of `curl -H 'content-type=application/json' <neo4j-browser-url>`?
What proxy are you using? Does it support proxying web sockets?

[2018-12-04 14:17] shekharpaty commented on #882
Hi @oskarhane  Thanks for the quick response.

I tried with chrome:Version 70.0.3538.110 (Official Build) (64-bit) got same issue.

I have also checked the in proxy settings in chrome: Bypass proxy server for local address.

Screenshot of websocket from browser.

![websocket](https://user-images.githubusercontent.com/9739252/49447369-5da95d80-f7fc-11e8-9cae-aef7e2adae21.PNG)

![curl_1](https://use

[2018-12-04 14:20] oskarhane commented on #882
Thanks for the info!

What if you set the `dbms.connectors.default_advertised_address=` to the same IP address from where you load neo4j-browser. Does that work?

[2018-12-04 14:56] shekharpaty commented on #882
Epic! issue resolved by adding the server IP address (of neo4j where it is installed Centos 7) .

dbms.connectors.default_advertised_address=neo4j server address.

Thanks @oskarhane

[2018-12-05 17:25] moafred opened #883 "Unable to set the correct bolt websocket url in UI"
The browser rewrite the url of the bolt websocket by removing the path and always set the port 7687.

- Neo4j version: 3.4.9
- Operating system: Kubernetes

### Steps to reproduce
1. Open the UI
2. Set the url to `bolt://neo4j.domain.com/bold`

### Expected behavior
The browser should connect to `bolt://neo4j.domain.com/bold `

### Actual behavior
The browser try to connect to `bolt://neo4j.domain

[2018-12-05 22:20] mdafer commented on #865
Sorry for my late response, this is happening for any password.

[2018-12-08 22:48] jmugan opened #884 "Can't log in: Neo.ClientError.Security.Unauthorized: The client is unauthorized due to authentication failure."
### Description
When I do `:server connect` with `neo4j` and `neo4j` I get `Neo.ClientError.Security.Unauthorized: The client is unauthorized due to authentication failure.`.

I tried uncommenting the line `dbms.security.auth_enabled=false` in `/etc/neo4j/neo4j.conf` and restarting, but it still asks me to log in and still denies the login.

I can get in with `/usr/bin/cypher-shell -u neo4j -p neo

[2018-12-08 23:11] jmugan commented on #884
I wondered if I should maybe ask this on StackOverflow instead, so I did that. But it won't let me delete this issue.

[2018-12-13 23:55] direbearform opened #886 "yarn jar doesn't prepare the jar package"
### Description
To get the neo4j-browser jar file, one need to call prepare-jar action first before calling jar action. However, jar action is the one does the build and mvn package. I'd recommend either move the build step into the prepare-jar, or do all 3 in jar action.

### Proposed Fix
/package.json, line 30:
[code]
### Your Environment
Linux. I think this issue is environment agnostic.

[2018-12-15 05:33] jmugan commented on #884
Well, I got a tar and ran it in my local directory and it worked fine. Something with the "install" must have set a switch funny or something.

[2018-12-15 05:33] #884 closed

[2018-12-16 10:03] archenroot commented on #342
@oskarhane - it doesn't work for me. I have in idea neo4j started in debug mode:
[code]

But when trying to do :server connect and copy into Connect URL full string "bolt://127.0.0.1:37087" or without protocol specification just "127.0.0.1:37087", none works:
`ServiceUnavailable: Failed to establish connection in 5000ms`

On the other hand when I try to do simply telnet:
[code]
Will try also neo4j

[2018-12-16 13:10] obriensystems commented on #342
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  Worked at the time for that specific version - see caps and tests.  Either the code has evolved or your config is wrong                                                                                                                                                                        /michael

[2018-12-18 19:24] rickhg12hs opened #889 "`:help keys` unreadable with Dark Theme"
### Description
Using Dark Theme, text unreadable in `:help keys`.

### Reproduce Steps

1. Select `Dark Theme`
2. Execute `:help keys`
3. Observe Output

### Expected Behavior

Readable text.

### Current Behavior

Unreadable text.  Text color same as background color?

### Can you propose a solution?

Use suitable text colors for a dark theme.

### Your Environment

| software name  | version
|

[2018-12-20 20:06] oskarhane commented on #889
Thanks for this report @rickhg12hs. We'll get on it!

[2018-12-24 21:01] rire000 commented on #865
Stuck at the same spot, same issue.
Updated Ubuntu server with Neo4j release 3.5.1.

[2018-12-24 21:40] rire000 commented on #865
<or>
just turn authentication off

https://neo4j.com/docs/operations-manual/current/authentication-authorization/enable/

dumb workaround, but mine is a closed network, and is just for training purposes anyway, so...

[2018-12-25 11:55] taesiri commented on #865
Had same issue connecting to neo4j for the first time using `HTTP` protocol. Try connecting via `bolt` (``bolt://localhost:7687``)

[2019-01-02 08:21] oskarhane commented on #865
Does @taesiri's solution work for you @mdafer and @rire000?
If not, please provide more information about your environment and setup. Exactly what info you enter etc.

[2019-01-02 10:48] flatstep commented on #132
Same question here. Why has this isue been closed without any explanation?
A script import-/export function would be great.

[2019-01-03 12:54] #889 closed

[2019-01-03 13:40] mdafer commented on #865
@oskarhane using `bolt://localhost:7687` results in:

I don't know what more to provide regarding my setup...

It's a fresh install of Ubuntu 18.04 (check my first comment), I've tried both Oracle Java and Open JDK, but same result.

[2019-01-03 19:07] oskarhane commented on #865
Thanks @mdafer. And Neo4j isn't running inside a container or VM or something?
On what URL are you loading Neo4j Browser?

[2019-01-04 09:31] oskarhane commented on #886
Thanks @direbearform.
Actually, we don't use the `jar` command at all, so I'm leaning towards removing it completely.
The packaging is better off being a job for the CI rather than a npm script imo.

[2019-01-05 12:38] mdafer commented on #865
Not running inside a container nor VM, running directly from AWS EC2 instance;
Using my pc's browser to connect to Neo4j hosted on the server.

[2019-01-06 17:19] taesiri commented on #865
I should clarify that you should use ``bolt://localhost:7687`` address in Neo4J Browser while connecting to the interface via this address ``http://localhost:7474``.

Like this:

![screen shot 2019-01-06 at 8 43 23 pm](https://user-images.githubusercontent.com/588431/50739351-46430300-11f4-11e9-8cdd-60ad17da419c.png)

Accessing ``bolt://localhost:7687`` with a browser will result in ``not a WebSoc

[2019-01-18 10:45] IdrissMdb commented on #874
Same issue on Chrome Version 71.0.3578.98 (Official Build) (64-bit) [on Windows 10 and Macos] while running a heavy query to merge nodes

[2019-01-20 03:40] sgm0107 commented on #522
Hello everyone.. I am having the same issue. Any solution without having to create a SSH tunnel?

WebSocket connection to 'ws://localhost:7687/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

[2019-01-21 23:10] tinkerbase commented on #676
I know this is closed but I wanted to post this because I struggled with it, so maybe it will help someone else.  Even with a couple nodes in the database, my browser was very, very slow.  Tried Chrome, Firefox and the Neo4J client.  I could connect with the browsers, but they were slow.

The Neo4j browser said "Database Access Unavailable.  Please use :server connect to establish connection".  Do

[2019-01-22 22:30] IdrissMdb commented on #874
i'm not really able to be categoric about the exact reason, i made some tests on multiple browsers/computers with and without extensions.

i can run big queries without strange memory issues (returning all lines/count of lines)
but there was others where the memory issue happened (on all the computers/browsers/with and without extensions), i was using apoc.refactor.mergeNodes while still having ne

[2019-01-25 07:15] kueckermann opened #899 "Cannot create new users in web dashboard."
Tested on Neo4j 3.4.1 and 3.5.2
-> Issue was present running from Docker on clean AWS Linux 2 & Bitnami instance from AWS store.
-> Logged in as initial user (neo4j).
-> Attempt to list users.
-> Throws error and need to reload page.
    Firefox 64.0.2 Windows: "TypeError: n is undefined" and the application can't recover.
    Chrome 71.0.3578.98 Windows: "TypeError: Cannot read property 'indexOf'

[2019-01-25 07:16] oskarhane commented on #899
Thanks for the report @kueckermann!
This sounds unusual, I'll have a look at it.

[2019-01-25 08:01] oskarhane commented on #899
I cannot reproduce this @kueckermann.
But looking at the code there I suspect something is wrong with fetching the available roles, and that it's not handled very gracefully in neo4j-browser.

Would you be able to give me access to one of your failing instances?
If not, I've built and published the code in this PR: https://github.com/neo4j/neo4j-browser/pull/900 right here: https://dist-jkiqlaolyv

[2019-01-25 08:56] kueckermann commented on #899
Thanks @oskarhane

The instance is running at:  http://ec2-35-173-220-143.compute-1.amazonaws.com:7474
Login with username: github and password: 12345678

Executing: :server user add results in Error: Unable to create user, [object Object]

[2019-01-25 08:57] kueckermann commented on #899
Just a note, creating a user works. Im not sure why Error: Unable to create user, [object Object] pops up even before I add a user, but I cannot list the users, that crashes every time.

[2019-01-25 09:22] oskarhane commented on #899
Thanks @kueckermann, that helped a lot.

As suspected, something was wrong with handling the absence of roles.

Neo4j Community Edition do not support all user management procedures and neo4j-browser didn't handle that very well.
http://neo4j.com/docs/operations-manual/current/authentication-authorization/native-user-role-management/procedures/

I've updated the PR and it will probably make the ne

[2019-01-27 16:03] IdrissMdb commented on #874
Weird thing, i executed a heavy edit query on the browser (chrome/firefox with and without extentions) that uses all the ram available and end up by crashing the browser.
Then i made an other test, i left Neo4j browser open on chrome doing nothing, and on the same time, i execute the same heavy edit query on a c# program, and chrome crashed almost at the same time.
so i have no idea, of the how an

[2019-02-08 14:22] twall commented on #522
I have an ssh tunnel for port 7687, and I can connect to `bolt://localhost:7687` with the web browser, but when I try to connect via py2neo, the connection is terminated (regardless of the `secure` setting and proper `auth` settings): ```
E           neobolt.exceptions.ServiceUnavailable: Connection to ('127.0.0.1', 7687) closed without handshake response
[code]

[2019-02-12 17:57] cemanughian commented on #871
I have the same issue on 3.4.1 community.

[2019-02-15 04:41] huyenqbi commented on #799
Hi oskarhane, yes I still run into the same problem.

[2019-02-16 04:55] twall commented on #522
The problem I had was with py2neo itself; it has a bug where it fails to forward the secure setting over the bolt connection.

[2019-02-16 13:48] twall commented on #788
This may be related to a neo4j config setting.  At one point I had this working (https is served via cloudfront through nginx to a different EC2 host).  I can connect properly via ssh tunnel (localhost:7687) for API access, but the /browser fails to establish a wss: connection, either complaining about certificates or connection refused upon attempt to connect to the server.

[2019-02-24 15:23] allthedrones opened #904 "After initial load, the fake "cursor" in the input panel is flashing, even though the panel does not have focus."
### Description

After Browser loads, the fake cursor block in the input panel flashes *even though the input does not have focus*. This is a queue to the user that they can begin typing Cypher and expect their input to appear in the panel, but they cannot.

### Reproduce Steps
* Load Browser, observe that query bar has a flashing cursor block
* Without interacting with the page, begin typing
* Ob

[2019-02-26 13:37] ams1 opened #905 "After expand if we first dismiss a node then re-expand it throws error"
After expanding the child relationships of **the node** if we dismiss (remove from graph) any of the children, then double click on **the node** will reveal the dismissed child, BUT when double-clicking AGAIN on **the node** it will throw an error.

### Reproduce Steps

(given)
1. Display a single node that has child relationships (aka the node)
2. Expand the child relationships of the grandfather

[2019-02-27 16:45] elie222 opened #906 "Question: is it possible to only the graph component in my own project?"
I'd like to display the graph that the Neo4j browser uses. Is this available as a separate package or not at this time?

[2019-02-27 17:07] Dcanzano commented on #906
@elie222   you might want to consider  https://github.com/neo4j-contrib/neovis.js, which isnt the exact package that Browser uses, but might satisfy your needs

[2019-03-01 23:36] gbranson commented on #881
Does it work if you try the following:

"MATCH (c2:Concept) WHERE c2.xmlid = targetMERGE (c1)-[:RELATED_FROM]->(cr:ConceptRelationship {Name:"linkphrase", LinkingPhrase" linkphrase", linkid:"linkid", GDM_Level: "Business", GDM_Type: "Model"})"

I added "" around the attribute values you were trying to reference. I think it was simply confused about where the attribute name vs the attribute value b

[2019-03-02 07:36] ThomasFrisendal commented on #881
link phrase and linked are variables coming out of the WITH in the 5th line.

[2019-03-02 07:36] #881 closed

[2019-03-02 10:07] conker84 opened #907 "[FEATURE REQUEST] Provide a file name for file export"
### Description
Would be great to give to the user the possibility to provide a custom file name instead of the simple export.csv, graph.svg/png.

[2019-03-11 16:55] InverseFalcon opened #912 "Graph view doesn't display node/relationships from lists across multiple rows"
### Description
Under some cases, when returning multiple rows with lists of nodes and relationships on each, the browser only shows the results of one row and not all.

Looking at the data itself, the results are correct, and a modified query can display all the expected nodes, so this seems to be a problem in how the browser displays returned data.

This is in reference to [this post on the comm

[2019-03-12 12:54] oskarhane commented on #912
Thank you for a great description @InverseFalcon. I've opened a PR that should fix this.

[2019-03-12 14:58] #912 closed

[2019-03-19 16:05] eastlondoner opened #916 "When playing snake the up and down arrows cause the screen to scroll"
### Description
When I play snake in the browser it is very frustrating because pressing the up and down arrows to direct the snake causes the game to be scrolled up and down out of view - which is obviously annoying

### Reproduce Steps
open browser
`:snake`
play

### Expected Behavior
screen should not scroll while playing snake

### Current Behavior
screen scrolls while playing snake

### Can y

[2019-03-22 16:30] unterstein commented on #916
It happens only to me when there is something to scroll. So if you have a login screen and maybe an existing cypher result. If I have the chrome window fullscreen and no other thing shown in the browser, it works just fine for me. But I agree, that this is annoying otherwise :(

[2019-03-25 07:57] oskarhane commented on #916
Thanks, fixed with: https://github.com/neo4j/neo4j-browser/commit/6145c9985220a60011947a8e4d95039d885682b9
Will be in next release.

[2019-03-25 07:57] #916 closed

[2019-03-25 08:40] unterstein commented on #916
@oskarhane  Thank you <3

[2019-03-25 10:03] suchetaswabhav commented on #171
Hi,

Can you please tell me where can i find the neo4j.conf file. Because if i make it manually and insert like i did for .grass file and inserted it in favorites, the neo4j.conf file is not acceptable .

[2019-03-25 10:05] oskarhane commented on #171
@suchetaswabhav The neo4j conf file is in the database directory, under the `conf/` folder.

[2019-03-25 10:06] suchetaswabhav commented on #171
I used the image file to open the Neo4j browser and database ..what to do ?

[2019-03-25 10:54] suchetaswabhav commented on #171
Thanks oskarhane... i found out .  You get it in Graph Applications tab - > Open folder -> configuration

[2019-03-26 13:28] oskarhane commented on #906
Since this is open source, you have the code available and it's somewhat detached from the rest of the application.
But it's not separated into its own package.

[2019-03-26 13:28] #906 closed

[2019-03-26 18:20] ThomasFrisendal opened #917 "Please have a look athttps://github.com/neo4j-apps/neo4j-desktop/issues/57#issue-425523233"
### Reproduce Steps

### Expected Behavior

### Can you propose a solution?

What needs to be done to address this issue? Ideally, provide a pull request with a fix.

### Your Environment

| software name  | version
| ---------------|----------
|                |
| OS             |
| Web browser    |
| node.js        |
| npm            |
| yarn           |
| Neo4j Browser  |
| Neo4j          |

##

[2019-03-27 06:32] ThomasFrisendal commented on #917
Followed an advise from ameyrasoft in the community. Moved licenses.json somehwere else and tried again. Now it gives me the possibility of logging in using social media or wait 30 days.
Why cannot I continue to use my 0Auth login? (Based on my email).

[2019-03-27 09:01] oskarhane commented on #917
Not related to neo4j-browser and I will therefore close this issue.
I've answered in the linked issue on neo4j-desktop.

[2019-03-27 09:01] #917 closed

[2019-03-27 09:09] ThomasFrisendal commented on #917
OK

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2019-04-02 13:05] dhimmel opened #921 "Embedding Neo4j Browser query result frame in external webapp?"
We are currently making a webapp at https://search.het.io (not fully functional yet) that helps users detect important paths in our Hetionet database, which is stored via Neo4j at https://neo4j.het.io.

We would like to embed query result frames from our Neo4j Browser in the webapp at https://search.het.io. The Python backend will generate the query. Is there an easy way to embed / extract result

[2019-04-08 05:34] Tarunjot-Singh opened #922 "Hi,"

[2019-04-08 06:15] #922 closed

[2019-04-08 06:30] Tarunjot-Singh opened #923 "Unexpected Output"
| software name  | version
| ---------------|----------
|                |
| OS             |  Mac mojave
| Web browser    |  Chrome
| node.js        |
| npm            |
| yarn           |
| Neo4j Browser  | Chrome (Latest Version)
| Neo4j          | 3.5.3

### Description
If we return a relationship from version 3.0.3 we get a graph view while in version 3.5.3 if we return a relationship we dont

[2019-04-08 06:39] oskarhane commented on #923
Hi and thanks for the report @Tarunjot-Singh.
This is however expected since the move to use Bolt rather than Neo4j:s HTTP transaction endpoint produce different results.
HTTP has a so called graph result format available which does some magic and return things that the user didn't ask for whereas you need to be more explicit in Bolt.
To get similar results in Neo4j 3.1+ (I think that's when we st

[2019-04-08 07:15] oskarhane commented on #905
Thanks for this report @ams1, we'll have a look at it!

[2019-04-08 07:33] oskarhane commented on #921
Hi @dhimmel ,
Unfortunately there's nothing new on this front. The viz code still lives inside the neo4j-browser project (but now in js instead of coffeescript) and there's no easy way to re-use it in third party apps without copying it.
We might offer this as part of a code library going forward, but I can't give you any timeline on that.

And embedding single result frames is not possible at the

[2019-04-08 15:30] dhimmel commented on #921
Thanks @oskarhane for the update, which will help with our planning. We'll update this issue with the solution we end up using.

[2019-04-09 08:07] oskarhane commented on #921
Thanks @dhimmel, sounds good.

[2019-04-15 13:53] m00dy commented on #921
@dhimmel I'm curious as well.

[2019-04-16 10:00] Enforcer007 opened #924 "Multi Line String are not colored"
### Description
When I try to SET multiline string in a node. Strings are not colored

### Reproduce Steps
`MATCH (n:Feature{name:"destination"})-[:has]->(c)
WHERE c.name='Point of Interest'
SET c.description="Touch Category from the POI
List menu to access the POI
Selection option.
2. Enter the necessary
information by first touching the
location option to access the
Location menu."
return c.desc

[2019-04-18 00:43] dhimmel commented on #921
Possibly relevant is cy2neo by @jexp:

+ https://github.com/jexp/cy2neo
+ https://github.com/jexp/cy2neo/blob/neod3/scripts/neod3.js

[2019-05-02 23:09] coreb1t opened #928 "Neo4j uses vulnerable bootstrap version"
Neo4j is using a vulnerable bootstrap version 3.3.7.

Neo4j version: neo4j-community-3.5.5
Operating system: linux

## Steps to reproduce
1) Download the latest  neo4j version
2) run the server: `./bin/neo4j start`
3) Navigate in browser `http://127.0.0.1:7474/browser/main.chunkhash.bundle.js`
4) The file contains bootstrap version 3.3.7
Output

[code]
This version is affected by four XSS vulnerab

[2019-05-03 04:50] if6was9 opened #927 "very slow ui response if caption is set to property containing long string values"
### Description

When the browser happens to choose a property for the caption that have large string values,
the performance of the UI becomes nearly unusable.

### Reproduce Steps

Set the caption for a given label to a property that will contain  long string values.  (1k)
Select some nodes with that large string value.

### Expected Behavior

UI should perform reasonably.

### Current Behavior

[2019-05-03 04:56] if6was9 commented on #811
I just opened #927 which i believe may be the same issue.  I have more detail there.

It appears to affect Chrome far more than Safari or Firefox.

[2019-05-03 06:48] oskarhane commented on #927
Thanks for reporting this @if6was9! I'll make sure we look into this soon.

[2019-05-03 07:04] oskarhane commented on #928
Hi and thanks for reporting this.
We only use the CSS-grid part of bootstrap and is therefore not affected by this.
See https://github.com/neo4j/neo4j-browser/blob/master/src/browser/styles/bootstrap.grid-only.min.css

[2019-05-03 07:04] #928 closed

[2019-05-03 09:44] Nulleye commented on #886
Hi, sorry for my ignorance, I finally managed to build the jar using the change above, however, the Jar it builds is about 19Mb, when the original one is about 4Mb. What I'm missing here?
Sorry to post this here but I can't find a clue about this anywhere.

[2019-05-04 14:24] eastlondoner opened #929 "Reported query times don't include time taken for commit"
- Neo4j version: 3.5.4
- Operating system: OSX
- API/Driver: Neo4j Browser
- **Steps to reproduce**
Run any query in the browser which is a simple query but expensive to commit
E.g. DETACH DELETE lots of nodes
- Expected
The time reported by the browser for the query should match the time it takes to run
- Actual behaviour
The time reported by the browser for the query can be orders of magnitude s

[2019-05-06 09:15] oskarhane commented on #929
Thanks for the report. We report numbers provided from the driver, we don't do any timings on the client side.
So, I'll ping in @technige here. Any thoughts?

[2019-05-15 21:17] javamonkey79 opened #931 "increase the width of table cells in neo4j browser via configuration"
### Description
When there is long text in a node property, the table view cells are hard to read.

### Reproduce Steps
1. create a node with a property that has more than 45 characters
2. view the node in table view

### Expected Behavior
1. I would expect to be able to set the table cell width.

### Current Behavior
1. the property will scroll, or wrap

### Can you propose a solution?
1. similar

[2019-05-27 09:08] kdwykleingeld opened #933 "delete relationshops in browser from the view (just like nodes)"
Hi, after you have performed a match and the neo4j browser displays the results as a graph you can move around the nodes on the screen to tidy-up / look better and you can also close nodes to prevent them from being displayed ...      however it would be great if you could also remove a relationship from the view .. this would help to clean-up your view even more .

So I do NOT mean delete from th

[2019-05-30 15:23] wis opened #934 "2 string query highlighting bugs"
paste these queries in the query text box
1. ``` match (p:Person) where p.name='marry' match (m:Person) where m.name='harry' create (p)-[:`doesnt like`]->(m) ```
2. ``` match (p:Person) where p.name='marry' match (m:Person) where m.name='harry' create (p)-[:`doesn't like`]->(m) ```

### Expected Behavior
1. strings in back ticks (`) should be highlighted in green like any other type of typing stri

[2019-06-04 06:33] kdwykleingeld commented on #933
good idea ? bad idea ?

[2019-06-06 18:15] borick opened #935 "navigating to a previously selected history entry - then modifying, and navigating away, causes you to lose the latest updates to the query"
### Description
When you navigate to a previous entry in the neo4j history, and begin edit that previous entry, then accidentally navigate away, you lose the edits made to that history entry.

### Reproduce Steps
- Navigate to a previous made entry in neo4j browser history
- Make a new edit to that history entry
- Navigate back again in the history, and then back to your "edit" entry - your edits

[2019-06-13 13:18] sid22 commented on #788
Has anyone figured this out? We are facing a similar problem here. I have tried with stream in nginx but no avail.

[2019-06-18 12:37] omkardusane commented on #788
I have tried doing this, nginx does not seem to be working well as proxy for bolt server, I ended up opening the 7687 port and allowing bolt server to be directly accessed without nginx.
This issue is not related to neo4j browser, it is more related to bolt server and IMO can be resolved by proper nginx setup, if given enough time.

[2019-07-08 08:18] fanavarro opened #941 "How to escape special characters in db.index.fulltext.queryNodes call"
Hi all, I have a graph database that contains nodes with names like "3-abcdefgh". I would like to execute a full text search on names by using the function db.index.fulltext.queryNodes so, I created an index of type "node_fulltext" on this property, whose name is "TermIndex".

Nonetheless, I am not very sure about how to deal with the "-" character, which indicates that we want to exclude the subs

[2019-07-09 03:26] stugorf commented on #799
I am running into the same issue when calling the annotate function. I have APOC installed as well and saw that earlier there was a conflict with having both APOC and GraphAware installed, is this issue related?

[2019-07-24 03:06] tomsherman opened #948 "Extreme input lag / CPU pegging due to Code Mirror syntax highlighting"
### Description
A number of users in my organization have observed **awful** performance in Chrome when running multiple queries in a single Neo4j browser tab. The problem is present in Firefox but to a lesser extent. It seems to have gotten much worse in the last 3 weeks or so. Almost everyone uses Chrome, so the problem could be due to a recent Chrome update.

I dug into the neo4j-browser source

[2019-07-24 04:17] akshatM7514 opened #949 "Neo4j Browser responding very slowly."
Hello Team ,

I am using Neo4j on RHEL 7.4 having RAM 85 GB but facing issue while editing a CQL using  Browser as it is responding very slowly.

Neo4j Version is 3.5.4

I am accessing Neo4j browser using google chrome using Windows 10.

Please suggest on How can we solve this issue?

Best Regards
Akshat

[2019-07-26 15:36] artkhl commented on #133
+1

[2019-08-05 19:19] tomsherman commented on #948
I solved this by upgrading. This may have been fixed on 3.3.5.

https://github.com/neo4j/neo4j/wiki/Neo4j-3.3-changelog#335

[2019-08-05 19:19] #948 closed

[2019-08-07 14:52] Legolash2o opened #953 "Request: Commas in node and relation count"
HI,

No idea where to put requests.. Is it possible to add thousand separator comma's on the node and relationship please?

It will make it so much easier to read.

![Image](https://user-images.githubusercontent.com/34819291/62632966-468eb280-b92b-11e9-9745-6b9f63cbb7f0.png)

[2019-08-12 11:15] oskarhane commented on #953
Thanks, I agree on this. We'll make it happen.

[2019-08-12 11:52] huboneo commented on #949
Hello! We just recently discovered performance issues with Chrome v75. Please try updating to chrome 76 (latest) and see if the issue persists

[2019-08-12 20:08] Legolash2o commented on #953
Thanks!

[2019-08-12 20:10] Legolash2o commented on #933
This would be nice.

[2019-08-21 11:09] liiri opened #959 "How does Neo4j Browser listen to data changes"
I observed that the browser is connecting to ws://localhost:7687/.

I tried to listen on this websocket using the simple client example at https://www.npmjs.com/package/websocket , but did not get any messages logged, though changes were made by my app and the browser got live updates.

Client code for reference:

[code]

[2019-08-22 02:48] Evin686 commented on #171
Hi，guys

[2019-08-22 07:02] oskarhane commented on #959
@liiri You connect using the neo4j-driver: https://github.com/neo4j/neo4j-javascript-driver
Neo4j speaks Bolt (binary protocol) on that websocket, so you'll need a driver if you want to use it.

[2019-08-22 07:02] #959 closed

[2019-08-22 23:14] BrenoMazieiro commented on #115
Any updates on that?

[2019-08-23 06:33] NightMachinary opened #961 "Can't set parameters in the same command as query"
I am trying to run this:
[code]
But the browser can't seem to be able to parse `:param username => "a_r_khojasteh" ;`.
Note that this *does* work in `cypher-shell`.

The browser doesn't support multiple parameters in a single command at all:
[code]

[2019-08-26 10:08] oskarhane commented on #961
@NightMachinary Thanks for opening this issue.
neo4j-browser does support multiple params, you just need to enable the editor to work in "multi-statement" mode. You enable that in the settings sidebar.
After that your first code snippet should work just fine.

Note that when you run multiple statements you don't see the output as you are used to. In neo4j-browser the current state of multi-stateme

[2019-08-26 10:08] #961 closed

[2019-08-26 11:31] NightMachinary commented on #961
Can’t you add an option to show the result of the last statement in a query?
That’d enable me to write a high level API for my graph on top of cypher.

On Mon, Aug 26, 2019 at 2:38 PM Oskar Hane <notifications@github.com> wrote:

[2019-09-02 12:08] tomswinkels opened #963 "Change location of the refresh button in :queries"
The refresh button in te :queries list are now downsite the result.

Is you refresh the list sometimes the list is small and sometimes big, but than you always need to move you're curser to the refresh button.

I think it is better to place the button above between the other buttons.

[2019-09-13 03:52] akshatM7514 opened #966 "CSV columns getting jumbled while exporting to linux server from neo4j using apoc.export.csv.query"
Hello Team,

I am facing issuing where I am trying to export a result of cypher query in CSV , where columns and their values are getting jumbled.

Below are my cases with queries and results:

Case 1: CSV columns and values are getting jumbled

Query :-1:
call apoc.export.csv.query("MATCH p=(a:EntCust)-[r:Cust2Srv]-(b:EntSrv)-[r1:Srv2Path]-(c:EntPath)-[r2:APPath2PS]-(d:EntAPPriSec)-[r3:PSPath2Gig

[2019-09-13 06:44] #966 closed, assigned to nobody

[2019-09-13 09:51] akshatM7514 commented on #966
Dear Hane,

Issue raised with apoc team.

Best Regards
Akshat

From: Oskar Hane <notifications@github.com>
Sent: Friday, September 13, 2019 12:14 PM
To: neo4j/neo4j-browser <neo4j-browser@noreply.github.com>
Cc: Akshat Mittal <Akshat.Mittal@ril.com>; Mention <mention@noreply.github.com>
Subject: [External]Re: [neo4j/neo4j-browser] CSV columns getting jumbled while exporting to linux server from ne

[2019-09-23 09:55] antimirov commented on #941
Same here, unsure how to proceed with my queries. I'm using "keyword" analyzer, so it worked pretty good with queries like "*ABC*" to find lines "testABCtest", but now I'm see problems with lines which contain "-" signs. Same errors of empty results as in your case.

[2019-10-31 18:01] InverseFalcon opened #982 "Initial node display limits can still hang the browser"
### Description
The Initial Node Display settings in the preferences seems like it should be able to improve performance by cutting off processing and display of nodes exceeding the provided limit (default 300), in the same way that Max Rows can limit the results and efficiently display the subset of results under the limit even when the actual query returns far more.

But the browser still seems

[2019-11-01 04:47] OpenCoderX opened #983 "EXPLAIN/PROFILE does not return query plan"
Plans section of query results not shown when executing EXPLAIN or PROFILE

### Reproduce Steps

Execute query ```explain MATCH (n:Client) RETURN n.id LIMIT 25``` nothing is returned, no Plans section on left side of result view
### Expected Behavior

### Can you propose a solution?

What needs to be done to address this issue? Ideally, provide a pull request with a fix.

### Your Environment

| s

[2019-11-14 09:06] skupjoe commented on #819
I'd like to be able to close frames via Ctrl-X or something.

[2019-11-15 09:43] jsmars commented on #123
+1 on this feature. I don't see why you wouldn't want to implement this. I often find myself using the browser as I would phpmyadmin, and when developing new projects it would be worth a lot to be able to delete and even edit nodes manually from within the browser without having to write queries for each action, since they change a lot while debugging.

[2019-11-18 21:45] seangrant82 opened #989 "Left brace ( "{") appears on node next to nodeName in Chrome browsers"
## Description
When creating node in the Neo4j browser in Chrome on Windows 10 , a left brace appears next to the label when viewing them. This only appears in Chrome and not in FireFox, Edge or the desktop application

### Reproduce Steps

1. Open the Neo4j Browser on Chrome (My version was Chrome Version 78.0.3904.97 (Official Build) (64-bit) )
2. Enter in following cypher:  `CREATE (actf:aircra

[2019-11-19 09:04] vijji90 commented on #115
Hi, Whether this issue is resolved?

[2019-11-22 21:22] ArmenLevoni opened #994 ""not a WebSocket handshake request: missing upgrade" On Mac"
### Description
I am trying to run a java embedded instance of neo4j. The actual code is:

public class GraphDatabaseApi {

    private static final Logger logger = LoggerFactory.getLogger(GraphDatabaseApi.class);

    private static GraphDatabaseApi singleton;
    private GraphDatabaseService graphDb;

    public static void main(String[] args) {
        Path f = Paths.get("./path1");
        Pat

[2019-11-25 10:43] pjljvandelaar opened #996 "User specified order of attributes"
## problem
I would to quickly and easily obtain info about nodes.
Currently, I get the attribute info when my mouse hovers over an node in a fixed order.
See e.g.
![image](https://user-images.githubusercontent.com/18348654/68293700-cba27880-008e-11ea-9b71-c4d3cc577b25.png)
The order in the screenshot is `id`, name, shortname, and type.
This order is not the order I would like.
Furthermore, the pos

[2019-11-27 16:30] daveman1010221 commented on #795
The issue persists.

[2019-11-27 16:55] daveman1010221 commented on #795
It seems to be the message that is the problem. Perhaps a really bad way of saying, "Your proxy settings at this moment seem to be affecting your browser's ability to communicate with our JavaScript library."

[2019-12-06 10:55] #953 closed

[2019-12-23 12:52] zsz00 opened #1030 "Specify node property for url of image for node"
Hope have feature of  specify node property for url of image for node

[2019-12-24 04:49] Bestulo opened #1032 "Something went wrong: "TypeError: n.props.status is undefined" and the application can't recover."
- Neo4j version: 3.5.13 (Community)
- Operating system: Debian 9
- API/Driver: Browser App on http://localhost:7474/browser/

Going to the browser app on localhost, if you click Database, then go to Connected as and click the "user list", you'll get `Something went wrong: "TypeError: n.props.status is undefined" and the application can't recover.`

![image](https://user-images.githubusercontent.co

[2020-01-05 15:08] lqst opened #1033 "What is related, and how -> ERROR There is no procedure with the name `db.schema` registered..."
The `Favorites/Sample Scripts/Data Profiling/What is related, and how` query is not working for  neo4j server version 4.0.0-rc01.

Not sure if `db.schema()` is permanently moved to `db.schema.visualization()` on the server side.

https://github.com/neo4j/neo4j-browser/blob/38d7a31c89bae5fcc6f5ed7f39edd7b06c8fa590/src/shared/modules/favorites/staticScripts.js#L58

[2020-01-07 01:19] charleskoehl commented on #874
Same issue in Chrome Version 79.0.3945.88 (Official Build) (64-bit), **but not in Chrome 68**, which is still used as the browser for Neo4j Desktop Version 1.2.1 (1.2.1.1042).

[2020-01-07 02:05] charleskoehl commented on #874
Experimented a bit further with Chrome 79.0.3945.88 and was able to reliably fix the issue by not signing into Neo4j Browser Sync. I confirmed this with Incognito mode, and not in Incognito mode with all extensions disabled. In both cases, the issue occurs if I am already logged into Neo4j Browser Sync when I run a query that returns a handful of nodes and relationships.

[2020-01-07 02:08] charleskoehl opened #1034 "memory usage rapidly grows only while signed into Neo4j Browser Sync"
I was able to reliably fix https://github.com/neo4j/neo4j-browser/issues/874#issuecomment-571399527_  by not signing into Neo4j Browser Sync. I confirmed this with Incognito mode, and not in Incognito mode with all extensions disabled. In both cases, the issue occurs if I am already logged into Neo4j Browser Sync when I run a query that returns a handful of nodes and relationships.

_Originally po

[2020-01-07 15:40] #905 closed

[2020-01-07 18:04] usgdmarzan opened #1037 "Unable to create database"
### Description
Database failed to create
Distribution download error: No request found for id: undefined

### Reproduce Steps
Installed latest neo4j desktop for windows
using Neo4j 4.0.0

### Your Environment
Windows 10

| software name  | version
| ---------------|----------
 Neo4j               1.2.3

[2020-01-07 18:08] usgdmarzan commented on #1037
![neo4j-error-2020-01-07_13-06-05](https://user-images.githubusercontent.com/41127520/71917706-ae515f80-314e-11ea-9180-cfb8f659349b.png)

[2020-01-08 13:12] oskarhane commented on #1037
Hi and thanks for this report. This is not the right place for Neo4j Desktop issues, but this is a bug that will be fixed in next release of Neo4j Desktop (coming out very soon).
Here's the desktop repo where you can create issues: https://github.com/neo4j-apps/neo4j-desktop

[2020-01-08 13:12] #1037 closed

[2020-01-08 13:34] oskarhane commented on #1034
Thanks for this report @charleskoehl!
This sounds serious and we'll look into it.

[2020-01-12 14:18] ZhekaAl commented on #989
software name | version
-- | --
  |  
OS | Windows 10 Pro 1809
Web browser | Chrome 79.0.3945.117 (Official Build) (64-bit)
Neo4j Browser | 4.0.1
Neo4j | 3.5.5

There wasn't left brace

[2020-01-12 14:51] ZhekaAl opened #1039 "Start, starts, start-prod scripts from package.json don't work on Windows"
### Description
Start, starts, start-prod scripts from package.json don't work on Windows because of setting `NODE_ENV=\"development\"` . On Windows we should write `set NODE_ENV=development`

### Reproduce Steps

Clone this repo
Install yarn globally (not required but recommended): npm install -g yarn
Install project dependencies: yarn
yarn start (Windows PowerShell)

### Expected Behavior

### C

[2020-01-14 12:46] michalhabala commented on #941
Same here, but with colon ":" instead of "-"
I'm using Neo4j 3.5.14

[2020-01-15 11:05] oskarhane commented on #1039
Thanks for reporting @ZhekaAl
Do you have the ability to open a PR to have this fixed you think?

That would be the fastest way to get this in.

[2020-01-15 11:06] oskarhane commented on #1033
Thanks for reporting this @lqst. We'll get it fixed.

[2020-01-15 11:08] oskarhane commented on #1032
Thanks for reporting this @Bestulo.
This will be fixed in the next release of Neo4j 3.5.

[2020-01-15 14:14] MortalFlesh opened #1049 "Wierd behaviour in cypher property value"
Hello,
I've discovered a wierd behaviour when using a `&` char in property value.

- Neo4j version: 1.2.1.1042
- Operating system: macOS Mojave (10.14.6)
- API/Driver: Cypher
- **Steps to reproduce**
[code]
- Expected behavior
**Table** output
[code]
- Actual behavior
**Table** output
[code]

It is also wrong in the **Graph** output.

But it is correct in the **Text** output and in the matching.
[

[2020-01-15 16:19] ZhekaAl commented on #1039
Ok, I will open a PR

[2020-01-16 16:21] mattorp opened #1046 "Interface does not connect automatically"
### Description
After upgrading to 4.0.2 I was presented with a blank browser, with a non-functioning connection to the db (no nodes, relations, props).
![Neo4j Desktop 2020-01-16 at 17 10 13](https://user-images.githubusercontent.com/26358815/72542363-515b5500-3884-11ea-90ef-e7eed9e1304a.png)

querying returned no connection, but server status returns connected
![Neo4j Desktop 2020-01-16 at 17 10

[2020-01-17 07:35] oskarhane commented on #1046
Thanks for this report @mattorp!
I suspect there's an error produced by Neo4j Desktop in the API side.
Could you, in Neo4j Desktop, enable "Development mode", then open Neo4j Browser again, click the "Open developer tools" in the Neo4j Browser window and see if you see any errors in the javascript console?

[2020-01-19 13:08] mattorp commented on #1046
Sadly, there's no console output.

![Neo4j Desktop 2020-01-19 at 14 07 04](https://user-images.githubusercontent.com/26358815/72681552-03815f80-3ac5-11ea-8bfa-af8894ba4f9a.png)

![Neo4j Desktop 2020-01-19 at 14 04 04](https://user-images.githubusercontent.com/26358815/72681524-c3ba7800-3ac4-11ea-82de-fc657553c7dd.png)

[2020-01-19 13:19] mattorp commented on #1046
Here's the output in relation to the first screenshot. There are no additional output through the process to reconnect as described above.

![Neo4j Desktop 2020-01-19 at 14 16 16](https://user-images.githubusercontent.com/26358815/72681713-8820ad80-3ac6-11ea-9f9e-32327a8349ae.png)

[2020-01-19 17:15] oskarhane commented on #1046
Thanks @mattorp
What version of Neo4j Desktop do you have?
Please make sure that you're on 1.2.4.
We have currently paused auto updates for Mac from 1.2.3, so please manually download the latest front neo4j.com.
Sorry for the inconvenience.

[2020-01-20 15:07] sey opened #1050 "In the Graph view, HTML properties are interpreted"
### Description
In the graph view, when you select a node you can see these properties in the status bar of the view. When node properties contain HTML, that HTML is interpreted. It already prevents `<script>` tags from being interpreted but they are stripped which means the real content of the property is not displayed. Other tags are interpreted and break the display.

### Reproduce Steps
Create

[2020-01-22 22:09] mattorp commented on #1046
Thanks @oskarhane, sadly it does not seem to resolve it. The same problem persists with the same working workaround. Same for db version 4.0

[2020-01-23 06:36] oskarhane commented on #1046
If you are on Desktop 1.2.4 now @mattorp, could you do the whole development mode thing again and check the dev console of the neo4j browser window?
I suspect there's a different error now.

[2020-01-27 05:52] #1039 closed

[2020-01-27 19:11] vivek2605 opened #1053 "Browser rendering issue: unable to see character "<" in the graph and table view"
### Description
Unable to see character "<" and associated string in the graph and table view. However able to see it in text mode
return ("<t>")
result ""

[2020-01-28 11:16] oskarhane commented on #1053
Thanks for the report @vivek2605. We'll look into it.

[2020-01-28 14:37] #1053 closed

[2020-02-04 15:17] mattorp commented on #1046
@oskarhane Sorry for the late reply, but the issue have been resolved. Thanks!

[2020-02-04 15:17] #1046 closed

[2020-02-10 08:51] #1033 closed

[2020-02-16 17:18] agniswarm commented on #788
+1

[2020-02-17 11:31] msramalho commented on #522
I got this problem on Docker version of neo4j:4.0.0 and I had to [dump the config file in a volume](https://neo4j.com/docs/operations-manual/current/docker/configuration/) and then update the configuration from
[code]
to
[code]
and it started working.

[2020-02-18 19:24] reinhard33 commented on #788
I got this working with ssl on a centos 7 server at work, it may or may not be of use to this thread.

relevant neo4j config items:
[code]

nginx config items:
[code]

[2020-02-27 10:32] formatq commented on #675
Neo4j Browser version: 4.0.1
Still 300 nodes..

[2020-03-06 10:04] jaskirat8 opened #1064 "Browser bolt websocket address issue - Neo4J 4"
- Neo4j image tag being used : neo4j:latest (4.0.1)
- The output of the `docker version` command
&nbsp;Client:
&nbsp;&nbsp;&nbsp;Version:           18.09.7
&nbsp;&nbsp;&nbsp;API version:       1.39
&nbsp;&nbsp;&nbsp;Go version:        go1.10.1
&nbsp;&nbsp;&nbsp;Git commit:        2d0083d
&nbsp;&nbsp;&nbsp;Built:             Fri Aug 16 14:20:06 2019
&nbsp;&nbsp;&nbsp;OS/Arch:           linux/amd64

[2020-03-09 23:55] smileycap opened #1066 "Neo4j Interactive graph freezes just run a search withA graphical view"
### Description
We have been using Neo4j for quite some time without any problem. Recently, the community version we are using started to be very buggy. So buggy that we cannot use the Interactive graph view. I would note that we did not make any change to our project and that we had this issue about one year ago. How was the issue solved? It was not, at least intentionally. It just started workin

[2020-03-12 19:06] achantavy commented on #133
Hi there, having this feature would make it infinitely easier to share data with other users.  Are there plans to work on this?

We would like something as described in this [StackOverflow question](https://stackoverflow.com/questions/24062795/can-i-send-neo4j-browser-a-cypher-query-via-get-post) -  go to `http://localhost:7474/browser/query='match n return n'` and then you get a page running that

[2020-03-12 19:48] oskarhane commented on #133
This is possible since: https://github.com/neo4j/neo4j-browser/pull/956
It won't ru automatically but it populates the editor so the user can review it before they execute it.

[2020-03-12 19:48] #133 closed

[2020-03-12 19:56] achantavy commented on #133
@oskarhane Awesome, thanks for replying!  Is there a doc on how to use this?  I'm not sure I'm doing it right.

I go to `http://localhost:7474/?cmd=params&arg={x:1.0,%20y:%22hello%22}` on my local unauthenticated instance running 3.5.14 but it only sends me to the login page.

[2020-03-12 20:01] oskarhane commented on #133
@achantavy 3.5.14 is too old. It ships with Neo4j Browser ` 3.2.26`.
This was released with Neo4j Browser `4.0.2`, which is in Neo4j `3.5.15` and later.

[2020-03-12 20:55] achantavy commented on #133
I tried out 3.5.16 and 4.0.1 with auth turned off and going to `http://127.0.0.1:7474/?cmd=edit&arg=RETURN%201;&arg=RETURN%20rand();` still sends me to the login page.

I also tried turning auth on with both versions and it doesn't send me to the login page, but the query does not fill as expected.

Any ideas?

[2020-03-12 20:56] achantavy commented on #133
@oskarhane Oh, this is community edition btw.

[2020-03-14 00:48] InverseFalcon commented on #1066
How many nodes are you returning from your queries? The results view is usually good for 300-500 nodes being returned or so, it's not meant to show huge numbers of nodes.

[2020-03-16 19:32] smileycap commented on #1066
Even one node is buggy

[2020-03-17 01:09] achantavy opened #1070 "URL param support for populating editor with Cypher does not work"
### Description
I followed the examples here: https://github.com/neo4j/neo4j-browser/pull/956
and cannot get neither Neo4j 3.5.16 Community nor  Neo4j 4.0.1 Community to populate the editor with Cypher.  The edit textbox remains empty in both Chrome and Safari.

### Reproduce Steps
1. Download of Neo4j 3.5.16 Community or 4.0.1 Community.
1. Run `~/neo4j-{version}/neo4j console`
1. Go to `http://l

[2020-03-17 01:12] achantavy commented on #1070
cc: @oskarhane

[2020-03-19 15:04] smileycap commented on #1066
Even one node is buggy

[2020-03-21 20:58] smileycap commented on #1066
I have noticed the following:

The website link (including IP address) that I am using is different than the one I am logging in in the platform.

The website link: https://data.lyrainsight.com:**7473**/browser/
Neo4j connection: bolt://data.lyrainsight.com:**7687**

Could that be part of the problem?

[2020-03-21 21:39] smileycap opened #1073 "Pointing to the wrong server"
### Can you propose a solution?
Note

### Your Environment
Google Chrome , Neo4j community

| software name  | version

| Neo4j Browser  |

### Additional Information

Any additional information, configuration or data that might be necessary to reproduce the issue.

For enhancements or other issues, please describe in as much detail as possible how the app should be changed and how this would bene

[2020-03-25 23:28] peterpribeli commented on #788
Hi,
I was trying to setup a neo4j 4.0 instance on a local network and serve it through a domain. I've got both the browser and the python driver to work and thought I'd share my configs and findings here as it may be of help.

I run both neo4j and nginx from docker.
I wanted to run everything through SSL so I obtained the certificates for `bolt.domain.com` and `neo4j.domain.com` from Let's encrypt

[2020-03-27 15:47] AlexKeySmith opened #1076 "Enhanced multi-monitor support"
### Description
Firstly, I think the neo4j browser is great, particularly the embedding within exercises into the app.
When you have multiple monitors or an ultra wide it would be great to make better use of the real estate.

### Expected Behaviour
It would be great if the exercises could either be pinned to the left or right to create two side by side windows for a wide screen monitor. Or detache

[2020-03-27 15:54] oskarhane commented on #1076
Thank you for raising this @AlexKeySmith!
We are exploring different options for this right now as we agree that we can make better use of the space on wider monitors.

I can't give you more than that right now, but stay tuned.

[2020-03-31 04:31] dfgitn4j opened #1079 "Movies database create character issue"
### Description
tagline property on the Polar Express node has a pattern for the three dots in the text that can cause display issues when it is included in output from cypher-shell to a text file or pager.

From `movie-graph.jsx`
[code]
The hex character codes for the three 'dots' in the Polar Express tagline property are

  UTF-8 (comma delimited): `e2,80,a6`
  Unicode: `2026`

 While the (norma

[2020-04-09 12:18] Maltemo commented on #522
In a docker-compose file, you can add this option like this :
[code]
I had this problem only in firefox on Windows10.

[2020-04-10 04:26] HashRocketSyntax opened #1081 "Neo4j browser DOM won't load after upgrade to 3.5.8-1"
## Description
Hiya. I am changed from to `server 3.5.8-1` from `server 3.5.15`.

`neo4j start` runs fine. I can even create and delete objects in the `cypher-shell`.

However, when I navigate my browser to `localhost:7474`, the screen is just white... not even a 404 error.

![image](https://user-images.githubusercontent.com/16389820/78962601-94fbde80-7ac2-11ea-821f-7b25d5689719.png)

The error sa

[2020-04-10 04:57] HashRocketSyntax commented on #1081
I uninstalled and installed a different neo4j release and it worked.

[2020-04-10 04:57] #1081 closed

[2020-04-10 18:48] KIRI-Z opened #1082 "Failed to connect to remote server with bolt"
I've newly installed neo4j on Ubuntu 19.10, after setting the conf I can login to neo4j browser. But whatever command I execute, I got SessionExpired. Also the login is too slow, taking about a minute.

The firewall works properly, I can telnet both 7474 and 7687. Also, I can ssh to the server and run cypher shell to execute commands. So it should be a network problem.

[code]

My config file:
[co

[2020-04-10 19:18] #1082 closed

[2020-04-13 04:03] iris-j opened #1083 "CSV export error when cypher results contain \n"
### Description
**Issue:** When I run a cypher query in neo4j browser, I can get the correct table results. But after I export the results as csv file, I discover that \n in some field leads to csv parse errors, because the auto-generated csv file doesn't use quotes around it. P.S. Actually I want to export json file, but the option is missing in the browser, so I have to turn to csv.
**Expected b

[2020-04-14 07:23] janekdb opened #1084 "Neo4j Browser randomises relationships list after colon is entered"
Neo4j Desktop 1.2.6

![image](https://user-images.githubusercontent.com/1123855/78939549-45121d00-7aac-11ea-8cf8-45504a61711a.png)

Windows 10

 **Steps to reproduce**

With the Movie DB open enter this query and press ctrl-space to show the completion list,

![image](https://user-images.githubusercontent.com/1123855/78939673-7db1f680-7aac-11ea-9733-8cb2358c7af6.png)

The relationship types are li

[2020-04-15 11:00] oskarhane commented on #1070
What if you add the `/browser` path @achantavy ?
`http://localhost:7474/browser/?cmd=edit&arg=RETURN%201;&arg=RETURN%20rand();`

[2020-04-15 11:10] jexp commented on #1070
Does this work for you with Desktop?

`neo4j-desktop://graphapps/neo4j-browser/?cmd=edit&arg=RETURN%201`

try this with `/browser`

`http://localhost:7474/browser/?cmd=edit&arg=RETURN%201`

[2020-04-17 10:16] jaskirat8 commented on #1064
Any updates ?

[2020-04-17 11:49] oskarhane commented on #1064
Not sure where to move this @jennyowen @technige.
It was concluded to be a noe4j-docker issue after all (with the strange advertised address of 0.0.0.0), if I remember correctly.

[2020-04-17 12:17] jennyowen commented on #1064
@oskarhane @jaskirat8 oh I'd forgotten about this issue and confused it in my mind with https://github.com/neo4j/docker-neo4j/issues/240 which is exactly the same problem as this, but on windows.
I fixed the issue but we've not had a neo4j release since the fix.
https://github.com/neo4j/docker-neo4j/pull/241
The 3.5.18 and 4.0.4 releases will have the fix, whenever they get published.

[2020-04-19 00:11] joehoeller commented on #788
@peterpribeli  do you have a gittub repo we can look at, beacuse i cannot reproduce(?)

[2020-04-19 00:34] joehoeller commented on #788
I am not sure how @neo4j expects anyone to test their stuff out before buying if you canbt serve it. They need a working nginx file for ppl to use, **end of story.**

We were going to evaluate but because we couldnt get it working we are moving on to a free graph db. Guess they lost out on an enterprise lisc'. My advice is to move on - plenty of real open src options w/ better flexibility for serv

[2020-04-26 18:41] Darthpathos opened #1088 "Neo4j - Dark mode causes Results text to be hard to read"
Hi all

Just started using Dark mode and thought I was overtired - results were being returned but i couldn't see them; realized it was because I couldn't see them <facepalm>.  I think this issue is fairly straightforward but please let me know if you need anything further.

- Neo4j version: 3.0.1 Community Edition
- Operating system: Mac OS Catalina 10.15.4

- **Steps to reproduce**
- Expected be

[2020-04-27 07:19] joehoeller opened #1087 "Enterprise & Community v3.5.16: Log out and cant log back in"
After I create a user (with CALL function) or use default user after forced password change, in either community or enterprise v3.5x, I log out of UI with ‘:server disconnect’, I cannot log back in.

This is very problematic and should be addressed ASAP. NOT in the mood for developer pedantry either. Let’s just admit it’s a problem and fix it.

[2020-04-27 09:03] oskarhane commented on #1087
Thanks for your report @joehoeller.

We are unable to reproduce this, could you share more about your setup / environment, or even a screen recording that shows all your steps and the result of them?

[2020-04-27 09:18] nglgzz commented on #1088
Hey @Darthpathos, could you try with the [latest version](https://neo4j.com/download-center/) of Neo4j?

This is what I see on Neo4j 4.0.3 (Neo4j Browser 4.0.3)
![image](https://user-images.githubusercontent.com/13448636/80355763-0334f500-8868-11ea-9df5-a0e22f605528.png)

[2020-04-27 11:25] Darthpathos commented on #1088
Hi! Thanks for getting back to me- I will try updating tonight when I’m
back home.  Have a great day!

On Mon, Apr 27, 2020 at 5:19 AM Angelo Gazzola <notifications@github.com>
wrote:

--
View my Gift of 8 Campaign: http://beadonor.ca/christopher-battiston

[2020-04-28 15:09] joehoeller commented on #1087
Yes I’ll make a video. Give me some time, bogged down here at work. #DeveloperLife 🙄

Sent from my iPhone

[2020-05-01 04:53] mvadu commented on #788
I was able to get this working with these config:

#### on server side
[code]
#### on nginx
[code]

[2020-05-04 14:12] jexp commented on #1070
ping @achantavy

[2020-05-05 02:04] achantavy commented on #1070
Hey @oskarhane, @jexp,

adding `browser/` worked, thanks! Maybe you can add in an edit to the first comment of #956 to add in the browser path.

[2020-05-05 08:08] #1070 closed

[2020-05-06 00:06] alexluna7 opened #1097 "Browser interface doesn't load on neo4j:4.0.4 image on Chrome and Firefox."
After updating my neo4j Dockerfile to use image neo4j:4.0.4, the neo4j browser interface doesn’t load (I get a blank page) in Chrome and Firefox. I am reproducing below their console output. If I rollback the change to image neo4j:4.0.3, it loads properly.

On Safari v.13.0.5 (15608.5.11), Edge v.81.0.416.68 and Opera v.68.0.3618.63, it loads properly.

If I rollback the change to image neo4j:4.0.

[2020-05-06 07:18] oskarhane commented on #1097
Thanks for the report @alexluna7. This looks like a aggressive web browser caching issue.
If you (in Chrome) open the web browser devtools, switch to the network tab, check the "disable cache" option and then reload the page with the devtools open it should work again.

I'm sure Firefox has a similar way for reloading with no cache.

[2020-05-07 17:10] alexluna7 commented on #1097
Thank you for the response.
Clearing or disabling the cache in every browser fixed the issue with both neo4j images (4.0.3 and 4.0.4).

[2020-05-08 05:50] oskarhane commented on #1097
👍

[2020-05-08 05:50] #1097 closed

[2020-05-08 09:39] viveksacademia4git commented on #1032
I am using Neo4j 3.5.14 (Community). This issue is still occurring.

[2020-05-09 19:20] oguzhansivri commented on #745
I have same problem. Did you solved it?

[2020-05-12 14:05] mjmare commented on #522
@Maltemo thanks for the pointer! I think that your line is not completely correct. This worked for me:

[code]

[2020-05-14 13:43] typinator opened #1099 "Grass Styles Temporary in Browser Result"
1. Drop Grass file onto browser window.
2. CYPHER query to return 3 node elements with different label - e.g. Capability, Document, Goal
3. Results returned with initial correct style.
4. Click on background of browser result window - reverts to default style.
5. Execute ALL apoc.meta.subGraph({labels:["Capability", "Document","Goal" ],rels:[],excludes:[]})
6. Returns correct style which doesn't t

[2020-05-15 15:23] ande8331 opened #1100 "Empty Response to ":sysinfo" in Browser"
To help us understand your issue, please specify important details, primarily:

- **Steps to reproduce**. *Not including reproduction steps will mean your bug will take considerably longer to investigate and fix. Please don't skip this*.
Start image: docker run --name testneo4j -p7474:7474 -p7687:7687 -d --env NEO4J_AUTH=neo4j/test neo4j:4.0.3
Open web browser to localhost:7474, login
Run ":sysinf

[2020-05-18 10:10] oskarhane commented on #1100
I think the underlying calls there are used to populate the UI are enterprise only nowadays.
Does it work if you try with an enterprise image @ande8331 ?

[2020-05-18 10:58] jennyowen commented on #1100
@oskarhane I forgot to add! I was able to reproduce the problem from the instructions in the issue. I just tried it with 4.0.4 enterprise and the values do get populated as expected in enterprise mode.

Maybe the `:sysinfo` command should be disabled for community edition, or maybe produce a warning that it won't work?

[2020-05-18 10:59] Dcanzano commented on #1100
if `:sysinfo` only returns data if Enterprise only, then when run on Community rather than display data with `-` can we simply return output reporting `:sysinfo` is only appropriate in a Neo4j Enterprise editition

[2020-06-01 13:29] genemishchenko opened #1112 "An underscore in a parameter name causes a syntax error in Neo4j Browser 4.0.X"
This was encountered in Neo4j Community 4.0.4.

Trying to set a parameter name in the Neo4j Browser:
`:param doc_name => '...'`

Getting the following error:
[code]
This does not happen when using Cypher parameters in a driver session and it does not happen when using an older version 3.2.20 of the Browser.

Please see this [community post](https://community.neo4j.com/t/an-underscore-in-a-paramete

[2020-06-02 06:40] oskarhane commented on #1112
Thanks for the report @genemishchenko
That does sound like a bug, we'll have a look at it.

[2020-06-08 09:28] iamFIREcracker opened #1115 "Web admin does not automatically re-connect to the database after a page refresh"
Neo4j version: 4.0.4
Set up: Docker image

**Steps to reproduce**
- Navigate to the Web admin URL (e.g. http://my-domain:7474/browser/)
- Fill in the Connect URL field (e.g. `bolt://my-domain:7687`)
- Select `Username / Password` from the Authentication type dropdown
- Fill in Username (e.g. `neo4j`)
- Fill in Password (e.g. `neo4j`)
- Submit -- it successfully logs you in / no errors on the brows

[2020-06-12 11:22] appleyuchi opened #1120 "how to make relationship clickable?(need support)"
for example,I have two concepts in  some area,concept1 and concept2.
concept1:node1 in neo4j browser
concept2:node2 in neo4j browser
there's relationship between node1 and node 2

**for  instance:
node1:apple
node2:apple juice
relationship: an article  hyperlink of website about how to make apple juice from apple

I hope the link in relationship to be clickable.**
could you tell me where's the rel

[2020-06-15 06:23] oskarhane commented on #1120
Hi @appleyuchi,

In the table view URL:s should be clickable, but not in the visualization view.

[2020-06-16 03:58] appleyuchi commented on #1120
Thanks for your replies I'll try it..
But I want an example for deploy it in website...
Is there an example combined with website?
I have tried neo4jd3,but the relationship content will disappear when my mouse leave it.

[2020-06-23 20:06] teddylee123 opened #1128 "Neo4J Desktop Cypher Query - Parts of Labels Registering as KeyWords"
Hi there,

First time poster and Neo4j Desktop User - trying to upload and convert a csv file but parts of my query keep registering in Cypher/DesktopQuery as keywords making my code unusable. Please see screenshot of both my code and example Neo4J code attached - neither of which work properly.
<img width="1147" alt="Screenshot 2020-06-23 at 21 00 25" src="https://user-images.githubusercontent.co

[2020-06-26 09:51] K-Lovelace commented on #1112
I stumbled upon this, any news about it ? It would be much easier to not have to replace every underscore in the queries we debug...

[2020-07-09 09:09] RDStone opened #1136 ":style .grass bug?"
I have edited the .grass sheet in the past with no problems - but 4.1 seems to have me beaten

I used to edit it (and I seem to remember I could give it any name I liked so long as it was saved as a .grass file) drop it in the favourites area and... job done. Not Any More - or so it seems.

If I do this now I am offered two options - save to favourites or put straight into the editor. So, if I put

[2020-07-09 11:06] pjljvandelaar opened #1139 "Crash while idling"
I when away from my laptop for a break.
When I returned I got

![image](https://user-images.githubusercontent.com/18348654/87032391-d779a800-c1e4-11ea-9e71-5aaad63fc863.png)

To my knowledge no activity in neo4j.

I hope this error message helps in improving neo4j.

[2020-07-09 13:12] OskarDamkjaer commented on #1079
Thanks for reporting this! I'll go ahead and change the polar express to use three normal dots as well.

[2020-07-09 13:13] #1079 closed

[2020-07-09 13:17] OskarDamkjaer commented on #1088
@Darthpathos I'm assuming this issue is resolved, if not do comment and I'll reopen it!

[2020-07-09 13:17] #1088 closed

[2020-07-09 13:19] OskarDamkjaer commented on #1128
Hello! Is this a purely visual problem? Do you get any errors when you try to run the query from your image?

[2020-07-09 13:45] OskarDamkjaer commented on #1136
Thanks for reporting this issue! I'll try to reproduce the errors you run into. Perhaps you could send me an example of what you paste after :style that gives rise to the syntax error you mention?

[2020-07-09 15:21] RDStone commented on #1136
Hi Oskar,

This is the example of the short code I input:

:style
node.ConRod {
  defaultCaption: "<id>";
  caption: "{desc}";
}

I also tried using :style followed by the entire .grass file with only the
above statement modified (it had said caption: "{name}"

But both cases threw up similar errors

Rgds,

Roger

On Thu, 9 Jul 2020 at 14:45, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-09 16:08] RDStone commented on #1136
I should add that Bloom was also running

On Thu, 9 Jul 2020 at 14:45, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-10 08:59] OskarDamkjaer commented on #1136
Hmm, I think this error is a good place to start. I'll look into it

[2020-07-10 10:05] OskarDamkjaer commented on #1136
I've found part of the problem, we seem to misinterpret the semicolons when the `Enable multi statement query editor` setting is enabled. So the weird error about lines is because part of the grass is interpreted as cypher, thanks again for reporting this so we can get it fixed!

It might not be the only issue, but if you try disabling `Enable multi statement query editor`, what other issues do yo

[2020-07-10 10:07] RDStone commented on #1136
Many thanks!

On Fri, 10 Jul 2020 at 09:59, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-10 10:09] RDStone commented on #1136
I will try that now!

On Fri, 10 Jul 2020 at 11:06, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-10 10:17] RDStone commented on #1136
Interesting! I get no error message - but the grass sheet is not edited
either....

On Fri, 10 Jul 2020 at 11:06, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-10 11:21] OskarDamkjaer commented on #1136
Yes, I suspect there's more than one issue at hand here. I'll look into it but it might take a little while to get to the bottom of it!

[2020-07-10 11:23] RDStone commented on #1136
Oskar,

If you want something really odd - viewing in Graphileon shows the change
of style .... even as the browser remains as it was...

Maybe I need to close and re-open the db for the browser to update?

Roger

On Fri, 10 Jul 2020 at 11:06, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-10 11:50] OskarDamkjaer commented on #1136
You shouldn't need to re-open the database. It's definitely something wrong on our end

[2020-07-14 05:02] blackvvine commented on #133
@achantavy Did you manage to solve this problem?

[2020-07-14 09:16] OskarDamkjaer commented on #1139
Thanks for reporting this. It seems to be an issue with neo4j-desktop and would as such fit better here: https://github.com/neo4j-apps/neo4j-desktop. I can't transfer the issue for you since it's technically in another github organisation

[2020-07-14 09:16] #1139 closed

[2020-07-14 12:29] OskarDamkjaer commented on #1136
Could you try multiline disabled and putting the entire command on one line like so:
`:style node.ConRod {  defaultCaption: "<id>";  caption: "{desc}";}`

That seemed to do it for me. I'm working to make it work without these workarounds

[2020-07-14 13:17] ramagudepu commented on #788
Hi @mvadu thanks for providing the nginx config and neo4j config. I have tried it but i still get the error around WebSocket connection failure. could you please provide your complete nginx config and neo4j config please? so that i can cross check if i have missed anything? Thank you

[2020-07-14 13:19] joehoeller commented on #788
Just use my container & be done w the headaches.

https://github.com/joehoeller/nginx-server-neo4j-graph-db

On Tue, Jul 14, 2020 at 8:17 AM ramagudepu <notifications@github.com> wrote:

[2020-07-14 13:31] ramagudepu commented on #788
Thank you @joehoeller will try that now.

[2020-07-14 14:02] ramagudepu commented on #788
Hi @joehoeller could you also please share your neo4j configuration file, as my container failed to start and throwing an error saying Address 0.0.0.0:7687 is already in use, cannot bind to it. Thank you

[2020-07-14 14:05] joehoeller commented on #788
That’s not the issue. You can change the port on the docker file and expose
a diff one.

Or do:

docker ps -a

Get the name of other container on that port and then type in:

docker rm -f <container name or id>

On Tue, Jul 14, 2020 at 9:02 AM ramagudepu <notifications@github.com> wrote:

[2020-07-14 14:34] OskarDamkjaer commented on #1136
I've got a fix for both issues under review right now! Thanks for shedding some light on this issue

[2020-07-14 14:44] ramagudepu commented on #788
Hi @joehoeller, thank you for your reply. I just wanted to let you know a bit more detail on what i am trying to do
I have created 2 container instances with in Azure under 1 container group(These are not docker enabled). In 1 container i have neo4j and the other container I have nginx. I have purchased a domain name and assigned it to the container group. when i try and access the browser it is w

[2020-07-14 14:47] joehoeller commented on #788
Just use my container as is. They need to be on same Docker network.

On Tue, Jul 14, 2020 at 9:44 AM ramagudepu <notifications@github.com> wrote:

[2020-07-14 16:36] RDStone commented on #1136
Delighted to help!

Roger

On Tue, 14 Jul 2020, 15:34 Oskar Damkjaer, <notifications@github.com> wrote:

[2020-07-15 09:48] OskarDamkjaer commented on #1136
Did your issue go away when using the workaround of putting it all on one line and not having multiline editing enabled?

[2020-07-15 10:06] RDStone commented on #1136
Hi Oskar, Just at the moment I have a different (non-DB) project that I
have to pull out all the stops on so I won't get back to this unti late
today, maybe tomorrow - but I will let you know! many thanks,

Roger

On Wed, 15 Jul 2020 at 10:49, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-15 10:33] OskarDamkjaer commented on #1136
No stress! It'll be a while before we release anyway :)

[2020-07-16 00:52] achantavy opened #1149 "Query not returning expected data after upgrade from 3.5.16 community to 3.5.19 enterprise"
Hi there, I observed some unexpected query behaviors. Please see this [forum thread](https://community.neo4j.com/t/really-weird-query-not-returning-expected-data-after-upgrade-from-3-5-16-community-to-3-5-19-enterprise/21672) for full context.

3.5.19 Enterprise

Ubuntu 14.04.6 LTS

The script that fills my DB uses 1.7.6 of the Python driver

## Description

I recently upgraded my DB from 3.5.16 c

[2020-07-20 14:40] Mote-Z commented on #1097
👍

[2020-07-23 07:25] OskarDamkjaer commented on #1128
The current syntax highlighting isn't smart enough not to highlight "count" in "country", the plan is to switch what editor is used and new do better highlighting then. If your issue is not purely visual, please re-open this issue

[2020-07-23 07:25] #1128 closed

[2020-07-23 09:10] OskarDamkjaer commented on #1112
@K-Lovelace @genemishchenko I've looked into this and updated the param parser to support underscores properly. It will be in the next release planned for august 25. I'll try to remember to leave a reply here and in the community thread when it is released.

[2020-07-23 09:10] #1112 closed

[2020-07-23 09:11] OskarDamkjaer commented on #1136
This should be fixed now and released in our next release in the end of august! Closing this for now, and if the problem or a similar problem arises, feel free to re-open och open a new issue!

[2020-07-23 09:11] #1136 closed

[2020-07-23 14:01] RDStone commented on #1136
Thank you so much! I am desperately impressed with the response!

Roger

On Thu, 23 Jul 2020 at 10:11, Oskar Damkjaer <notifications@github.com>
wrote:

[2020-07-24 13:47] OskarDamkjaer commented on #934
Thanks for reporting this syntax highlighting issue!

You're right that we have a client side parser. We're currently planning to move to the monaco editor in the next couple of months, it will require a rewrite of the syntax highlighting, so we're not planning to fix the older parser. I will write down this example and make sure we have a unit test for it in the new version!

[2020-07-24 13:47] #934 closed

[2020-07-28 12:54] asashour opened #1150 "Running built project"
- Branch `4.1`

On trying to run the built project, using the instructions in [README](https://github.com/neo4j/neo4j#running-neo4j), there are two issues. Also, I am trying to directly use IntelliJ.

1. `mvn compile exec:java` in `community/server` after full `mvn clean install -DminimalBuild` gives:

2. Going to `packaging/standalone/target` after `mvn clean install`, and running the server from

[2020-07-30 14:51] OskarDamkjaer commented on #989
I can't see the left brace either, closing this. Tried in chrome on mac. Feel free to re-open if you find a way to reproduce

[2020-07-30 14:51] #989 closed

[2020-07-30 15:10] OskarDamkjaer commented on #949
Closing this due to inactivity. If your problem persists, please reopen!

[2020-07-30 15:10] #949 closed

[2020-07-30 15:12] OskarDamkjaer commented on #983
When I run your query I get a query plan. If this is still an issue, please do provide reproduction-steps and re-open!

[2020-07-30 15:12] #983 closed

[2020-07-30 15:22] #1032 closed

[2020-08-11 07:25] froums commented on #1115
I opened approximatively the same bug to Neo4j Support.

It happens when upgrading from Neo4J 3.5.12 to Neo4J 3.5.19. I supposed it is related to this ticket : https://github.com/neo4j/neo4j-browser/pull/1098

I do hope someone can have a look @oskarhane
I was able to reproduce with a docker compose file.

Thanks

[2020-08-17 09:51] minicloudsky opened #1160 "how does Neo4j Browser implement graph visualization in browser"
## Guidelines

I want to implement neo4j data visualization in browser ,to show the neo4j data ,I found some solutions on github,however ,all of them does not match my demand , I want to implement neo4j data visualization as good as neo4j in browser client ,
so i want to know how does the neo4j browser client implemented the data visualizaion ,
 what should i do or which document should i read, an

[2020-08-25 21:49] renatospaka opened #1171 "Node name/text missing in Desktop Browser"
### Description

I have noticed in my PoC graph that sometimes nodes are displayed without any description (name, text, whatever). This is bothering me, but I learned that I could tell Neo4j which field I want to be displayed. However, when I reopen Neo4j Desktop and query some data, that nodes are displayed without text again. So I do that every time I reopen Neo4j Desktop when I first run my que

[2020-08-26 09:42] wadael opened #1173 "RTL Text displayed outside of node"
### Description
Nodes displaying a property in Arabic see their text mostly outside of the node.
Same with Hebrew.

Depending on the chosen color for the label, text might be displayed in white.
Thus making it invisible on default background.
(for other label colors, same issue with dark mode : black on black )

### Reproduce Steps
CREATE (a:RTLTEST {text:'حرف جر'})
RETURN a

CREATE (a:RTLTEST {te

[2020-09-03 07:03] #1173 closed

[2020-09-03 10:06] froums commented on #1115
Hi @iamFIREcracker

In our case, we fixed the issue with Neo4j Support by adding this property in the conf neo4j.conf

dbms.connector.bolt.advertised_address=<your hostname>:7687

You can also add : dbms_connector_bolt_listen_address if it doesnt work out

[2020-09-03 12:20] wadael commented on #1173
Apologies for the duplicate

[2020-09-03 14:43] OskarDamkjaer commented on #1173
@wadael no worries! Better to be reported twice than never at all!

[2020-09-03 19:41] whatSocks opened #1184 "Query Input Element of Unexpected Size"
### Description

UI issue with the query input component - it seems like there is too much padding at the bottom sometimes

### Reproduce Steps

in Neo4j Desktop, run a browser guide with some queries that are few lines tall and many lines tall.
Example:

`:play https://guides.neo4j.com/graph-examples/northwind-recommendation-engine/graph_guide`

First query (big):

<img width="916" alt="Screen Sh

[2020-09-04 12:29] akollegger commented on #1184
Hi @whatSocks ,

Could you provide some more detail about the problem you're experiencing? What are you trying to do, how is the behavior you've observed preventing work, and what user benefits do you see from different behavior?

Thanks,
Andreas

[2020-09-04 17:48] cybersam commented on #1184
I strongly second the request to have the input panel at the top of the browser be reasonably sized (either automatically, or -- probably even better -- as determined by the user via a draggable control). Whenever I try to enter a query of even average complexity, I find that the input panel is constrained to show only about 6 lines at a time, with no way to adjust the panel height.

Even though t

[2020-09-05 10:14] akollegger commented on #1184
Hi @cybersam ,

Thanks for sharing some details about how you work with Browser. I love these observations! And, I'm intrigued by a few particular things you've said.

What if you didn't have to paste it back into Browser? Do you use VS code or something similar for non-Neo4j work? I ask because one way to think about the bad experience you've described here is whether it could be better than just

[2020-09-06 15:11] whatSocks commented on #1184
@akollegger - not sure how to re-state my original post since I think it already answers those questions, but I'll give it a shot. I don't know if the input field is supposed to be resizing at all. Right now either the bug is that the input field is resizing improperly, or that the input field is resizing:

In Neo4j Desktop using Neo4j 4.1.0, play a browser guide that includes queries of different

[2020-09-07 16:02] whatSocks opened #1191 "[Neo4j Desktop] [Browser Guide]"
### Description

UI text is where it's not supposed to be, see screenshot

<img width="1198" alt="Screen Shot 2020-09-07 at 11 58 01 AM" src="https://user-images.githubusercontent.com/2731744/92404443-9842d700-f101-11ea-8004-1e3be25d764b.png">

### Reproduce Steps

* In Neo4j Desktop, start a fresh, brand new 4.1 database
* Once database is ready, press the 'Open' button to open the browser
* Past

[2020-09-08 11:37] OskarDamkjaer commented on #1191
Thanks for reporting this!

[2020-09-08 11:38] #1191 closed

[2020-09-09 06:41] OskarDamkjaer commented on #114
Inserting the movie data set will be many users first time running a cypher query. I think it's worth the accidental duplication to show the CREATE rather than MERGE to avoid confusion. If you feel otherwise feel free to open a new issue

[2020-09-09 06:41] #114 closed

[2020-09-09 07:10] OskarDamkjaer commented on #129
Thanks for reporting this issue, I know it's been a few years, but we'll keep this in mind when re-working the saved scripts interactions.

[2020-09-09 07:10] #129 closed

[2020-09-09 07:12] OskarDamkjaer commented on #138
Thanks for this feature request! There's ongoing work to replace and improve the editor support for cypher. I've added this feature to our internal checklist of requirements

[2020-09-09 07:12] #138 closed

[2020-09-09 08:12] OskarDamkjaer commented on #1160
Feel free to fork the neo4j browser and adapt it to your needs! Our visualization is non-trivial so I won't go into it here, but you'll find relevant code here: https://github.com/neo4j/neo4j-browser/tree/master/src/browser/modules/D3Visualization

[2020-09-09 08:12] #1160 closed

[2020-09-09 08:15] OskarDamkjaer commented on #1171
I tried the steps you specify, but I don't get the same problem. What does :style output?

[2020-09-09 16:07] renatospaka commented on #1171
Hi @OskarDamkjaer
I just executed it and it happened again. Try to delete all nodes from your database, import them, and then name each unnamed node. Close the query window , open a new one and execute the same query. It happens all times I do that.
And you may take a look at this [issue ](https://community.neo4j.com/t/node-name-text-missing/11119) at Neo4j Community

[2020-09-11 06:36] OskarDamkjaer commented on #1050
Thanks for reporting this, the issue was resolved in #1164

[2020-09-11 06:36] #1050 closed

[2020-09-11 06:39] OskarDamkjaer commented on #144
I can't see any icons at all in :sysinfo output, so I'm assuming this is outdated. If that's not the case, feel free to re-open the issue

[2020-09-11 06:39] #144 closed

[2020-09-11 06:43] OskarDamkjaer commented on #168
Currently the query is no longer lost when pressing up by mistake, so part of your issue is solved. We're hesitant to implement the ctrl requirement setting unless we see some broader demand for it.

[2020-09-11 06:43] #168 closed

[2020-09-11 06:50] OskarDamkjaer commented on #275
As it's not been seen as high priority enough to get added in the past four years, it's likely it will never be done. If we see renewed interest for this kind of feature or happen to work on some visualization improvement it might be get picked up. Thanks for the idea!

[2020-09-11 06:50] #275 closed

[2020-09-11 06:53] OskarDamkjaer commented on #527
Thanks for reporting this issue! I looked into it just now, and it seemed to have gone away over the years. If I've missed anything, feel free to re-open and add more details!

[2020-09-11 06:53] #527 closed

[2020-09-11 06:55] OskarDamkjaer commented on #693
It sounds to me like [cypher parameters](https://neo4j.com/docs/cypher-manual/current/syntax/parameters/) would solve your issue. They are usable in browser as well!

Adding a separate frame for setting parameters has been discussed, but it is unlikely to be implemented.

[2020-09-11 06:55] #693 closed

[2020-09-12 07:14] minicloudsky commented on #1160
thank you very much, i try to adapt the neo4j for my needs .

[2020-09-15 07:20] OskarDamkjaer commented on #1171
Hm, I was able to recreate your problem once or twice. Thanks for reporting it, I'll look into it when able (might take a while)

[2020-09-16 20:48] phhu commented on #1097
I had same issue with v 4.1.1 - fixed in same way, by clearing cache.

[2020-09-17 20:37] tyey commented on #994
I have the same issue with neo4j-4.1.1

[2020-09-20 21:55] wadael opened #1198 "Provide progress to user"
### Description
I wrote a BIG load csv script. I takes forever despite all indexes, constraints being ok, and the source csv file being very reasonable.

As a user, I'd like to see which line# is being processed  to have visual feedback
Like

Processing line #25 on 350

[2020-09-24 14:09] OskarDamkjaer commented on #1198
Thanks for this feature request! We're looking into ways of providing better progress/performance reporting currently. It's possible we will get it in this year, but I can't promise anything

[2020-09-24 14:09] #1198 closed

[2020-09-24 15:45] iamFIREcracker commented on #1115
I confirm this worked for us too.

[2020-09-28 14:41] subedipiyush opened #1202 "Same query plan, different results"
### Description
Neo4J browser (sandbox) provides same plan for different queries with different results. The behavior is not seen in Neo4j Desktop.

I have the following two queries -

[code]
[code]

In the first one, I am expecting duplicate results (e.g A follows B follows A) and in the second one, I am expecting such duplicate relationships to be excluded. I am getting the results that I desire

[2020-09-28 14:47] subedipiyush commented on #1202
**plan_1.png**

![plan_1.png](https://user-images.githubusercontent.com/10183757/94446955-4842b780-0177-11eb-870b-8beb1ece6ecc.png)

**plan_2.png**

![plan_2.png](https://user-images.githubusercontent.com/10183757/94446957-48db4e00-0177-11eb-8fc6-d1a533913457.png)

**plan_3.png**

![plan_3.png](https://user-images.githubusercontent.com/10183757/94447494-cdc66780-0177-11eb-9886-797e0870b90a.png)

[2020-10-01 08:16] Codelica opened #1204 "Invalid(?) mixed content warnings when browser is proxied (via NGINX)"
- Neo4j version: **4.1.2**
- Operating system: **Ubuntu 16.04.7 LTS under Docker**
- API/Driver: **Browser JS driver**

### Steps to reproduce

I'm looking to provide a secure proxy (via NGINX) to the Neo4j browser.  Neo4j is running configured as follows:

**http service** disabled.
**https service** exposed as 127.0.0.1:7473 using a looooong expiration self-signed cert.
**bolt service** exposed

[2020-10-04 13:29] wadael opened #1207 "Filter shown labels/relations/"
### Description
I have a lot of labels in my graph.
I often have to click show all.
Then, I need to know my alphabet and have a good eyesight to find the label I am looking for
(you know, get 25 just to verify the names of the properties)

### Expected Behavior
provide a text input next to "Node Labels" that will filter only the labels that match the input
No regexp required, just partial match is

[2020-10-06 13:35] #1100 closed

[2020-10-12 08:23] thobe opened #1482 "Textual formatting of duration values"
https://github.com/opencypher/openCypher/issues/453

- **Neo4j version:** 4.1.1
- **API/Driver:** Neo4j Browser or Cypher shell

### Steps to reproduce

[code]

vs

[code]

### Expected behavior

Duration value should be formatted in a way fit for human consumption. (`P22DT19H51M49.5S`)

### Actual behavior

Duration value is formatted based on internal representation. (`P0M22DT71509.500000000S`)

[2020-10-14 08:21] mijosch opened #1216 "Forced to use wss:// when behind proxy from https to http"
- Neo4j version: 4.1.1
- Operating system: docker
- API/Driver: web interface

Using unsecured (http) neo4j via reverse proxy as a secured endpoint (https)

(client) - [https]- (reverse_proxy) - [http] - (neo4j)

- Expected behavior
the normal bolt -> ws:// interface is used

- Actual behavior
you are forced to use the bolt+s -> wss:// secure interface

I am trying to build an environment where yo

[2020-10-16 00:17] achantavy commented on #1149
Hi, is there any update on this? We're still seeing inconsistent query behavior on the web interface vs via cypher-shell.

[2020-10-16 08:29] OskarDamkjaer commented on #1149
Thanks for the detailed report and sorry about the delay. I've got time to look into this next week, so I'll have a new update some time next week

[2020-10-19 11:56] OskarDamkjaer commented on #1149
I looked into this just now and found the reason for the odd behaviour. We allow cypher queries to be prefixed with `:auto` for automatic transactions, the current implementation simplly removes all instances of `:auto` in the query. I'll fix it today, thanks again for your detailed report!

[2020-10-19 11:56] #1149 closed

[2020-10-19 12:33] OskarDamkjaer commented on #1184
The editor sizing has behaviour changed in #1211 and will be released this week. Feel free to bring up thoughts on the updated look and feel in a new issue, closing this as it is out dated.

[2020-10-19 12:33] #1184 closed

[2020-10-19 12:35] OskarDamkjaer commented on #933
Thanks for the idea! It's uncertain if we will prioritize implementing it but we'll be sure to keep it in mind when updating the view in the future

[2020-10-19 12:35] #933 closed

[2020-10-19 12:45] #923 closed

[2020-10-21 13:11] OskarDamkjaer commented on #1049
Thanks for reporting this issue. I'm unable to reproduce it, could you confirm it's still present in the latest released browser ?
![bild](https://user-images.githubusercontent.com/10564538/96723842-620a9f80-13af-11eb-8177-ca78cdd3dc3b.png)
![bild](https://user-images.githubusercontent.com/10564538/96723810-57e8a100-13af-11eb-8800-2f1fd2d392cc.png)

[2020-10-21 13:12] OskarDamkjaer commented on #963
Hi! Could you provide a screen shot of the button you're referring to so I'm sure I've understood you correctly?

[2020-10-21 13:14] OskarDamkjaer commented on #935
This is intended behaviour since we want to preserve history as the commands that were run.

[2020-10-21 13:14] #935 closed

[2020-10-21 13:16] tomswinkels commented on #963
@OskarDamkjaer i think this is already fixed with an upgrade to a newer version :)

[2020-10-21 13:16] #963 closed

[2020-10-21 13:21] OskarDamkjaer commented on #904
That sure is an unwanted behaviour, however I'm unable to reproduce this in our latest version of browser. I've tried safari, edge, firefox and chrome. If the problem is still there on the [latest build](https://s3-eu-west-1.amazonaws.com/ux.neotechnology.com/assets/neo4j-browser-latest/index.html) for you, do re-open this issue with instructions on how to reproduce it!

[2020-10-21 13:21] #904 closed

[2020-10-21 13:25] OskarDamkjaer commented on #963
Lovely! Sorry about the late-ish reply! :)

[2020-10-21 13:27] #886 closed

[2020-10-21 13:29] OskarDamkjaer commented on #883
It seems to me your issue is resolved? Feel free to add more details and re-open if that's not the case

[2020-10-21 13:29] #883 closed

[2020-10-21 13:37] OskarDamkjaer commented on #796
Thanks for reporting this issue and sorry for taking so long to respond. I'm unable to reproduce this the nine times I tried so I assume it's been fixed. If that's not the case, please re-open this issue and provide instructions on how to reproduce it in the [latest build](https://s3-eu-west-1.amazonaws.com/ux.neotechnology.com/assets/neo4j-browser-latest/index.html).

[2020-10-21 13:37] #796 closed

[2020-10-21 13:40] OskarDamkjaer commented on #870
This issue is no longer present in the latest update of `:play start` as we don't have any icons. Than

[2020-10-21 13:40] #870 closed

[2020-10-21 14:23] OskarDamkjaer commented on #695
Hi! Thanks for reporting this issue and sorry about the late reponse! We're working to make sure our error reporting doesn't show misleading errors, this particular issue seems to have gone away over the years.

[2020-10-21 14:23] #695 closed

[2020-10-21 14:38] dustykline commented on #904
Agree that this is resolved in later versions.

[2020-10-27 22:10] achantavy opened #1234 "Neo4j web interface returns empty string for field values that start with '<'"
# Description
Hi, I've found a case where the Neo4j browser app returns an empty string for field values that start with `<` when the cypher-shell does not have this issue. Please read below for details.

### Reproduce Steps

1. Run the following repro script in Python under neo4j driver 1.7.6:

[code]

2. Then, run `match(g:GitHubRepository)-[r]-(l:PythonLibrary)return g.id, l.name, r.specifier;`

[2020-11-02 12:54] OskarDamkjaer commented on #1234
Hi, thanks for reporting this!

I just tried to reproduce this in 4.1.4 and I'm unable to do so. I've done some work in this area recently so it might already be fixed. Could you try and see if it's still present in the latest release?

[2020-11-11 10:40] zayd62 opened #1241 "Running `EXPLAIN` in dark mode results in unreadable text in neo4j browser"
### Description

When you run an explain command, the resulting diagram has black text when using the **dark** theme. Text is readable in **Normal** and **Outline** theme.

### Reproduce Steps

Running the following command and change the different themes
[code]

### Expected Behavior
The text under the box (node) should be a different colour other than black. See example below for clearer example

[2020-11-13 14:35] flyking1994 opened #1242 "Failed to connect to Neo4j"
Follow the README, I open http://localhost:8080 in my browser, but I failed to connect to Neo4j.
In the URL, I tried "localhost:8080", "localhost:7687", "localhost:7474". Username and Password are both "neo4j".

![image](https://user-images.githubusercontent.com/30041161/99083366-69b11300-2600-11eb-9386-e188e10318c8.png)

[2020-11-18 08:43] OskarDamkjaer commented on #1242
Do you have a database running? I'm unable to reproduce this issue, could you provide more details?

[2020-11-19 13:32] OskarDamkjaer commented on #1234
If you are able to reproduce the issue in the most recent version of browser, please re-open this issue

[2020-11-19 13:32] #1234 closed

[2020-12-06 05:56] Trend20 opened #1247 "not a WebSocket handshake request: missing upgrade"
### Description

I have started Neo4j server locally on Ubuntu 20 and when i navigate to the port number 7687, i encounter this error in my chrome browser.
error: not a WebSocket handshake request: missing upgrade

[2020-12-07 10:07] OskarDamkjaer commented on #1247
Could you provide some more details?

How did you install neo4j, using desktop? Are you sure neo4j is running? Are you running on your computer or on a server?

[2020-12-20 16:30] Rubix982 commented on #1082
@kiiirzzz did you find a solution?

[2020-12-20 18:55] corysimmons opened #1258 "Indentation of JSON in Neo4j Browser is off"
![image](https://user-images.githubusercontent.com/224636/102721787-fc616380-42ca-11eb-88be-13a6b8460481.png)

Hopefully this is just a simple JSON.stringify tweak on the frontend, but it'd make browsing values a lot nicer if it was indented correctly.

[2020-12-29 09:20] Makunda opened #1260 "Clear text password : Neo4j Browser"
Hello team!
First of all, thank you for the Neo4j project, it's a lot of work and the result is excellent and reliable.
I just got a feature request that I think can be useful to everyone.

I haven't seen any similar opened issues or feature request , but let me know if it's a duplicate.

Anyway, have a nice end of year!

## Feature Request

**Security: Neo4j web session**
When using the Neo4j bro

[2020-12-29 10:37] luanne opened #1259 "Graph App 'Neo4j Browser' can't be opened"
### Description
The Neo4j Browser in Desktop won't open any more, probably after upgrading to MacOS Big Sur

### Reproduce Steps
Start any database, try to open the browser

### Expected Behavior
The browser opens as before

### Current Behavior

Graph App 'Neo4j Browser' can't be opened.

From the logs:

[code]
Reinstalling did not fix it either.

### Your Environment

macOS BigSur 11.1
Neo4j Des

[2020-12-29 16:33] oskarhane commented on #1259
Hi @luanne and sorry for the inconvenience.
This can happen is files change within signed graph apps.

Desktop does however auto-install missing graph apps on startup so what you can do is to delete the `~/Library/Application Support/Neo4j Desktop/Application/graphApps/_global/neo4j-browser` folder and restart Neo4j Desktop.
That should fox it.
In a coming version of Desktop we will have something

[2020-12-30 12:46] luanne commented on #1259
That fixed it, thanks @oskarhane!

[2021-01-02 14:58] steveyang331 commented on #858
it seems don't sloved yet ?

[2021-01-03 20:32] Mintactus opened #1270 "SHOW DATABASES and the default database access"
Important details, primarily:

- Neo4j 4.2.1
- Linux Mint 20
- Neo4j Desktop 1.3.11

- **Steps to reproduce**
- **IMPORTANTE NOTE : Might be a behavior not a bug but it strange**

The command SHOW DATABASES does not work when the user doesn't have the privilege to read the default database.
You can reproduce this by many ways.

- Actual behavior
The SHOW DATABASES result in an error for users with

[2021-01-04 10:38] #1259 closed

[2021-01-05 12:44] MortalFlesh commented on #1049
Hello @OskarDamkjaer ,
sorry for a delay..

We have a new version of Neo4j and it's working as expected - so I guess it is no longer an issue.

[2021-01-05 12:44] #1049 closed

[2021-01-19 19:32] joelduerksen opened #1267 "browser crash - RELOAD APPLICATION"
### Description
Neo4j browser crashes (Desktop, Chrome, Safari, Firefox all the same behavior)

### Reproduce Steps
In a browser display a node with a null value for a property, then move the mouse over the node.  crash.

SPECIFIC EXAMPLE FROM NEO4J DOCUMENTATION
Load the Movie database, then run the queries (below) from the documentation (note: [documentation](https://neo4j.com/labs/apoc/4.2/virt

[2021-01-20 09:20] OskarDamkjaer commented on #1267
Thanks for reporting this! It's especially bad coming from a guide. I hope to get a fix in this release, will post updates here on this issue.

[2021-01-21 18:32] joelduerksen commented on #1267
I was able to repeat the steps reliably to create the crash on my client, but do let me know if you are unable to reproduce the error, I'll try to help figure it out.  These crashes make it hard to use the neo4j, and they occur frequently for me.

Note: I also see "RELOAD APPLICATION" button crashes in other cases, but this case was reproducible for me.  I hope there is one bug to quash, but I gue

[2021-01-22 08:50] OskarDamkjaer commented on #1267
The reload application is a catch all like you suspected. It pains me to hear you see enough crashes to find the product harder to use. Just a few weeks ago I added our first automatic crash reporting, so I'm hoping to reduce the number of crashes in the coming months

[2021-01-25 11:36] WolfgangFahl commented on #1216
same here - does not work out of the box behind proxy.

a dockerized neo4j should work with the following apache config:
[code]
but i found no hint where to go from there.

[2021-01-25 13:40] mnd999 commented on #1270
Transferring this issue to neo4j-browser as it seems to be browser specific behaviour.

[2021-02-01 11:05] michaelhayman commented on #941
Hmmm.  I added emails to an index on Contacts.

Given our regular search query

[code]

Contact with emails concatenated as lorretta@ruelmcglynn.io keva@heller.co and first name Alfonso last name Romaguera

This doesn't work:
`lorretta@ruelmcglynn.io*`

These DO work:
`lorretta@ruelmcglynn.io`
`"lorretta@ruelmcglynn.io*"`
`lorretta`

---

BUT this for first name works:

`Alf*`

These doesn't work

[2021-02-18 23:46] TheRealMarcusChiu commented on #171
@Evin686 it probably broke because of this feature implementation #548

[2021-02-23 11:29] OskarDamkjaer commented on #1241
Thanks for taking the time and all the detail you provided, we solved this by changing the color to a blue that's readable on both black and white backgrounds!

[2021-02-23 11:29] #1241 closed

[2021-02-23 13:14] OskarDamkjaer commented on #1267
I've put a fix in place that'll be part of the next release (in a few days). Thanks again for your report!

[2021-02-23 13:14] #1267 closed

[2021-03-02 02:58] Joshfindit commented on #185
To @aanastasiou's excellent point

It would be useful to stop the animation for all query results in the browser, including future ones

[2021-03-02 17:50] Mintactus opened #1311 "Neo4j browser 4.2.3 sucks"
Sorry to be rude but

Everything about the recently new updated version of the Neo4j browser is wrong

- Deleting a query is longer
- Show and edit a favourite is longer
-  The query font text sucks for readability ( Most important point )

It's not great at all, it might be a matter of opinion, but I don't think so, something is really wrong with this update.

[2021-03-03 11:49] ninjakx commented on #688
@nikeshkedlaya , @chirag912  : Are you ppl able to do this : https://stackoverflow.com/questions/27822440/curl-command-neo4j/27822642 ??
I am trying to use the rest api (localhost only) but not able to do it. Can you people help If things worked for you?

[2021-03-08 08:20] HerrEmil commented on #1311
@Mintactus The query font should still be Fira Code in the newer versions of Neo4j Browser. Could you inspect the query editor with devtools and check which font you are seeing now to help us find the problem?
I can see that the font weight was changed from 400 to 500 and this is visible in a side-by-side comparison with older versions. I have created a pull request #1314 with adjusted font weight

[2021-03-10 15:22] nmervaillie opened #1318 "Misleading"
### Description

### Reproduce Steps

Using neo4j browser, connected to a cluster, using the `neo4j` protocol on a follower during login
![image](https://user-images.githubusercontent.com/1990470/110648921-7104b980-81b9-11eb-9f00-e9176c351b11.png)

On the `neo4j` default DB, creating nodes works fine (driver seems to route the query to the leader for that DB)
![image](https://user-images.githubuse

[2021-03-11 06:47] Mintactus commented on #1311
Thank you

I tried to use it in a web browser with my chromebook but the http is
really heavy and slow now.
The elapsed time doesn't change anymore on the same frame when you run the
query again.

Thanks for your consideration but I just feel that this new release got out
too soon.

On Mon, 8 Mar 2021 at 00:20, Emil Andersson ***@***.***>
wrote:

[2021-03-12 08:25] OskarDamkjaer commented on #1311
In the last update (4.2.5) we addressed the issues you've mentioned. We've updated the font to be more readable and made showing favorites just as quick like before while keeping our new features. As for the deleting part, I'm not 100% sure what you mean, but both deleting a query and a favorite is quick operations.

Deleting one or more favorites:
![Uploading CleanShot 2021-03-12 at 09.16.24.gif…

[2021-03-12 08:25] #1311 closed

[2021-03-12 13:30] rbramley commented on #1247
This message is seen when you connect to the Bolt connector on port 7687, instead of using port 7474 for the Neo4j browser.

[2021-03-12 13:46] rbramley commented on #994
This message (as per #1247) is seen when you connect a web browser to the Bolt connector, instead of the HTTP connector on port 7474 for the Neo4j Browser.

If you have this problem, try port 7474 first.
If it's not enabled, see [https://neo4j.com/docs/operations-manual/current/configuration/connectors/](https://neo4j.com/docs/operations-manual/current/configuration/connectors/)

For the issue det

[2021-03-15 13:15] WhoIAmm opened #1325 "Graph draws more nodes and relationships than"
![微信图片_20210315210904](https://user-images.githubusercontent.com/45116001/111158649-3fce2400-85d3-11eb-814a-90757027efe5.png)

As my picture shows up there, I do the query then I get 322 results(rows), but in the Graph window, it seems that all the relationships between n1 and n2 are drawn. How could I just let it draws the 322 results I want rather than all relationships, it would be great that y

[2021-03-16 02:45] ToMaToJ commented on #522
I get the same issue when using JavaScript driver to connect NEO4J Sandbox.
There is no way to modify configs for Sandbox, so it looks like a dead-end..

[2021-03-17 22:02] chrys-exaucet commented on #522
adding to @Maltemo answer, sometimes, you just need to change the host address as is: ```neo4j://localhost:7687```.

[2021-03-22 13:08] gregoryking commented on #1325
Try unchecking the _Connect result nodes_ setting:
<img width="349" alt="CleanShot 2021-03-22 at 13 07 35@2x" src="https://user-images.githubusercontent.com/1253994/111994375-9c6b9a80-8b0f-11eb-9f82-3ffe83667e3a.png">

[2021-03-25 14:25] #1247 closed

[2021-03-25 21:09] Agh42 commented on #1034
Ran into the same problem - was able to reproduce it both on Chrome 89.0.4389.90 and Firefox 86.0. Once I had used Browser Sync, the problem persisted. Opening the browser in incognito mode fixes it and the frontend is responsive again.

[2021-03-29 09:17] OskarDamkjaer commented on #1325
@WhoIAmm Did gregs tip help?

[2021-04-02 01:46] graphadvantage opened #1331 "Make "Close Frame?" configurable"
Hi,

Understand that some folks want the extra check, but for experienced dev users it's a pain to wait for the "Close Frame?" warning to render and then have to click on it simply to clear out a bunch of old windows, which in the older version was a one click operation in the upper right.

Please at least make this configurable in the neo4j-browser settings.

Thanks! -Michael

[2021-04-02 11:00] OskarDamkjaer commented on #1331
Yeah, we hear you! We're planning to just remove it by the next version :)

[2021-04-02 11:00] #1331 closed

[2021-04-12 11:53] OskarDamkjaer commented on #1325
If gregs tip didn't help, feel free to re-open this issue

[2021-04-12 11:53] #1325 closed

[2021-04-26 10:48] cuigm85 opened #1386 "Neo4j browser can not display backslash"
- Neo4j version: 3.5.28, 4.2.4, 4.2.5
- Operating system: Linux
- API/Driver: Browser
- **Steps to reproduce**
![](https://github.com/cuigm85/box/blob/neo4j/neo4j_backslash.png?raw=true)
- Expected behavior
`RETURN "\\"` should return `"\"`
- Actual behavior
`RETURN "\\"` return `""`

[2021-04-29 19:09] Masterxilo opened #1400 "Allow configuring "Base-URL"/base location/context path, which currently defaults to '/browser', via environment variable"
See
* https://stackoverflow.com/questions/30093933/how-to-configure-neo4j-browser-to-use-a-custom-rest-endpoint
* https://stackoverflow.com/a/33321538/524504

This is required for more flexibility in reverse proxying to the neo4j-browser.

[2021-04-29 19:10] Masterxilo commented on #1400
Many other containers hosting a web-app have such a configuration option.
For example, https://github.com/mongo-express/mongo-express has 'ME_CONFIG_SITE_BASEURL'

[2021-04-30 13:15] Masterxilo commented on #1400
Another option would be to implement X-Script-Name. pgAdmin 4 does this:

https://www.pgadmin.org/docs/pgadmin4/development/container_deployment.html

[code]

[2021-05-11 18:54] EmilioDelCastillo opened #1409 "Dark text in dark mode"
### Description
The description text is barely visible in dark mode.

### Expected Behavior
It should be the same colour as the text above it, or at least less dark.

### Current Behavior
![screen-shot](https://user-images.githubusercontent.com/78765245/117868753-3f33d000-b29a-11eb-83a8-0d2a6c28592f.png)

### Can you propose a solution?
I suppose the fix is somewhere in [themes.ts](/neo4j/neo4j-br

[2021-05-11 20:55] jharris4 commented on #1409
Or you can run the latest version directly from [here[(https://browser.graphapp.io/)

[2021-05-11 21:12] EmilioDelCastillo commented on #1409
Oh absolutely, my bad!
I am using a Browser version that is seemingly hosted by my company, but apparently they haven't updated it. I thought they were using the latest version already. Sorry!

[2021-05-11 21:12] #1409 closed

[2021-05-25 16:29] JohnWE opened #1418 "Query editor cursor end of line"
### Description
It is hard for me to navigate the query editor window with the arrow keys.

### Reproduce Steps
Take this example:

![Screenshot 2021-05-25 112024](https://user-images.githubusercontent.com/2379622/119533206-3d164a80-bd4b-11eb-9bd1-17b970803912.jpg)

I want to edit the company field.  My cursor is at the end of line marked 3.

Press Up Arrow
Cursor is now at the middle of line mark

[2021-05-28 17:44] whatSocks opened #1421 "Graph Guides - UI Issues"
### Description
Testing graph guides, which were written to exist in the main and wider browser area with the queries in the new sidebar results in some small UI issues.

Specifically, testing with these guides:

[code]

[code]

* bullets don't look right

<img width="1061" alt="Screen Shot 2021-05-28 at 1 32 06 PM" src="https://user-images.githubusercontent.com/2731744/120022329-43f6c480-bfba-11e

[2021-06-03 08:54] OskarDamkjaer commented on #131
Hi! Sorry for the lack of updates, we're trying to better how we handle responding to and giving updates on feature requests with [canny.io](https://neo4j-browser.canny.io/feature-requests). If this feature is something you're still interested in, do raise it there instead!

[2021-06-03 08:54] #131 closed

[2021-06-03 08:57] OskarDamkjaer commented on #134
If there's still interest in this feature, do cross-post it to [canny](https://neo4j-browser.canny.io/feature-requests)

[2021-06-03 08:57] #134 closed

[2021-06-03 09:01] OskarDamkjaer commented on #137
If there's interest in this feature, feel free to re-open on our [feature request platform](https://neo4j-browser.canny.io/feature-requests)

[2021-06-03 09:01] #137 closed

[2021-06-03 09:02] OskarDamkjaer commented on #139
If there's interest in this feature, feel free to re-open on our [feature request platform](https://neo4j-browser.canny.io/feature-requests)

[2021-06-03 09:02] #139 closed

[2021-06-03 09:02] OskarDamkjaer commented on #145
If there's interest in this feature, feel free to re-open on our [feature request platform](https://neo4j-browser.canny.io/feature-requests)

[2021-06-03 09:02] #145 closed

[2021-06-03 09:05] OskarDamkjaer commented on #868
I'm aware that this is a really old issue, and we're working to improve our language support and tab completion albeit slowly!

[2021-06-03 09:05] #868 closed

[2021-06-03 09:09] OskarDamkjaer commented on #331
Thanks for opening this issue and sorry for taking this long to get back to you. It seems we've solved this problem over the years, so I'm closing this issue. If there's something else you'd like to see in browser, feel free to add a feature request at  [canny](https://neo4j-browser.canny.io/feature-requests)

[2021-06-03 09:09] #331 closed

[2021-06-03 09:14] OskarDamkjaer commented on #518
Closing this since it's been a few years with no updates, but if you end up submitting a PR in the end you can still reference this issue

[2021-06-03 09:14] #518 closed

[2021-06-03 09:17] OskarDamkjaer commented on #638
Hi! Sorry for the lack of updates on this. We've currently working to revitalize our language support and avoid issues like these in the future. It'll probably take a long time until it's done, but know we're working to solve these kinds of problems :)

[2021-06-03 09:17] #638 closed

[2021-06-03 09:41] OskarDamkjaer commented on #1418
While I agree it'd feel more natural to navigate the extra "fake" line created by the text editor wrapping like you suggested, I've not found a good way to accomplish it in the editor. To avoid the issue you can add more newlines to your query, to avoid the overflow. If I find a good way to solve it in the future, I'll post an update here.

If you think this is an issue you think we should priorit

[2021-06-03 09:41] #1418 closed

[2021-06-03 09:42] OskarDamkjaer commented on #865
Did this issue get resolved in the end?

[2021-06-03 09:50] OskarDamkjaer commented on #858
This is an interesting idea, but I'm afraid it to be a quite complex feature and not something we can prioritize implementing. If anyone wants to give it a shot and hack together a demo, we could perhaps reconsider

[2021-06-03 09:50] #858 closed

[2021-06-03 09:52] OskarDamkjaer commented on #811
Long due update: There's plans in the works to fix this problem in an upcoming release this year. The team is quite small and there's a lot to improve, so I can't promise we'll get to it!

[2021-06-03 10:15] OskarDamkjaer commented on #819
Mini update: We've spent quite some time trying to find good keyboard shortcuts, and finding comfortable shortcuts that don't overlap with any of the built in shortcuts in the web browser and/or operating systems. We think better keyboard shortcuts would be awesome in neo4j browser, but if we're gonna override built in shortcuts we want to be sure we do it really well. So all in all we're interest

[2021-06-03 10:29] OskarDamkjaer commented on #1421
Thanks for taking the time to report this, in the 4.3.1 release we'll have a fix in place for the list items being off. Image background and sizing is up to the guide author to update to a format that works well in the sidebar, this is one of the main reasons we've not removed/deprecated the old :play command just yet!

[2021-06-03 10:29] #1421 closed

[2021-06-03 10:31] OskarDamkjaer commented on #1400
Hi! This does indeed sound useful, but the hosting of Neo4j Browser when bundled with neo4j is not up to us. We have no server config in this repo, so you're better off opening the issue in the main Neo4j repo!

[2021-06-03 10:31] #1400 closed

[2021-06-03 10:40] OskarDamkjaer commented on #1260
Sorry for taking a while to leave an update!

This is an issue we're aware and as you state in the issue to solve the issue we'll need a token generated by server (which we have no control over in the browser team), so I'm not sure why the issue was transferred here.

We've opted on the side of convenience by storing credentials in local storage (otherwise you can't stay logged in), but we have th

[2021-06-03 10:40] #1260 closed

[2021-06-17 15:04] bigquant commented on #133
+1 for this

[2021-06-18 06:43] OskarDamkjaer commented on #133
When I add `?cmd=edit&arg=RETURN 1;` to browser, it works fine. Could we perhaps get some more details on what version/issues you've run into?

[2021-06-24 05:09] Mintactus opened #1452 "Browser sync frequency way too low"
Hello there

What's the point to have a Browser sync function if it takes " Synced 40 minutes ago" that long to synchronise?

Am I wrong? The way I see it as soon as you modify a favourite it should sync?
So if you lost or refresh the Neo4j's Browser page you don't lose 40 minutes of work.

Neo4j Browser version: 4.2.0 ( I could update it but not sure it's the origin of the problem )
Neo4j Server

[2021-06-28 06:51] alexabidri opened #1454 "Profiling stats are wrong after first execution"
This is a regression observed some months ago.

### Description

### Reproduce Steps
Write a first query with profiling assuming the property `name` is indexed

`PROFILE MATCH (n:Person { name: "superman"}) RETURN n`

Then modify the query for another field non indexed

`PROFILE MATCH (n:Person { title: "superman"}) RETURN n`

You will see at the bottom that the statistics of the profiling didnt c

[2021-06-30 09:54] OskarDamkjaer commented on #584
Thanks for the suggestion, should be fixed by #1453 🎉

[2021-06-30 09:54] #584 closed

[2021-07-05 12:43] RayLuxembourg opened #1460 "Expended View missing ui elements."
**Description:**
When expending the query view to see the graph,
The ability to change colors, size, and all the other properties, disappear.

**Expectation:**
Able to change properties from an expanded view.

Attaching Screenshots below.

![Screen Shot 2021-07-05 at 15 45 37](https://user-images.githubusercontent.com/15327989/124473555-28948b80-dda8-11eb-9d9d-0a5753b4b0d9.png)

![Screen Shot 2021

[2021-07-05 12:45] OskarDamkjaer commented on #1460
Could you expand on this and perhaps provide a picture?

[2021-07-05 12:47] RayLuxembourg commented on #1460
@OskarDamkjaer done.

[2021-07-05 12:48] RayLuxembourg opened #1461 "Zoom IN way to limited!"
**Description:**
Cannot zoom in to my liking.

**Expected**
Zoom as much as I like.

[2021-07-05 12:55] RayLuxembourg opened #1462 "Bookmarking queries (bad experience)"
**Description:**
When bookmarking my queries, I go through a very bad experience.
My query is saved without name === to the query and then I have to rename it.
1. I have to click on  the icon
2. go to Favorites
3. Find where my new query is (COMPLEX when you have many)
4. Click the menu
5. choose to rename
6. insert new name

**Expectation**
1. Click the bookmark Icon
2. Popup with input displays

[2021-07-05 13:59] OskarDamkjaer commented on #1462
We had this behaviour before and changed it due to people being annoyed with having to name their query every time (even if it was only pressing enter). What is suggest you do is prepend your query with a comment before saving it, there you're able to set a name.

https://user-images.githubusercontent.com/10564538/124482756-ea986700-dda9-11eb-9fa2-8d2317194f4e.mp4

[2021-07-05 13:59] #1462 closed

[2021-07-05 14:02] OskarDamkjaer commented on #1460
Thanks, I'm working to solve this today. Our next release in late august I think, so it'll be a while before you see it in production. I'll provide and update here as the problem is resolved. If you're eager to see and use the fix early our [canary](http://browser-canary.graphapp.io/) updates a few hours after a change is merged to master.

[2021-07-06 08:31] OskarDamkjaer commented on #1461
We'll be increasing the max zooming in/out limits in the next release, thanks for brining it to our attention.

[2021-07-06 08:31] #1461 closed

[2021-07-07 06:51] RayLuxembourg commented on #1460
@OskarDamkjaer  it will be included in the electron desktop app for mac as well?

[2021-07-07 06:52] RayLuxembourg commented on #1462
thanks this should do it.

[2021-07-07 08:23] OskarDamkjaer commented on #1460
Yes, it'll be in Neo4j Browser version 4.3.2!

[2021-07-18 07:49] RayLuxembourg opened #1477 "Missing type decelerations in D3Visualization module."
Would be easier to work with declared types for Props.
This module is complex and it would be easier to understand with types in place.

[2021-07-19 07:45] OskarDamkjaer commented on #1477
I agree! We used [ts-migrate](https://github.com/airbnb/ts-migrate) to automatically do the first step of migrating, we've not found the time give every file proper types yet but we're working towards it.

[2021-07-21 10:50] aabrodskiy commented on #1171
It's still an issue in 4.3.2 - is there any workaround for this?

[2021-07-21 11:15] renatospaka commented on #1171
Usually, I just reopen the browser and move on.

Em qua., 21 de jul. de 2021 às 07:50, aabrodskiy ***@***.***>
escreveu:

[2021-07-23 14:55] OskarDamkjaer commented on #927
Not "soon" per se but we should have sorted this issue out with #1429 🎉

[2021-07-23 14:55] #927 closed

[2021-07-24 09:33] OskarDamkjaer commented on #1454
Closing this as we merged your PR

[2021-07-24 09:33] #1454 closed

[2021-07-27 09:51] ka1n4t opened #1485 "Failed to write value Path"
Hi, I got the following error when I used `call apoc.algo.allSimplePaths()` to query.

[code]

And my neo4j browser turns gray:

![image](https://user-images.githubusercontent.com/22983012/127133782-c5b81fc6-2723-4a3f-858b-0239932524d5.png)

[2021-08-06 12:01] vilisch opened #1488 "Status bar missing in fullscreen mode from Graph view of Neo4j Browser"
Hi,

I recently updated to Neo4J version 1.4.7 and the status bar of the Neo4j Browser, Graph view has disappeared in fullscreen mode.
In normal window mode it is ok.
![StatusBar_Ok](https://user-images.githubusercontent.com/7656475/128507296-f3a54a9f-3a53-45d0-85ba-dad5f8b753fa.png)
![StatusBar_Missing](https://user-images.githubusercontent.com/7656475/128507317-3e99f0d2-2726-4143-81e5-93ca956d94

[2021-08-06 12:04] WebberLiu7 commented on #865
I solved it by deleting the "#" in front of "dbms.connector.bolt.listen_address=:7687" and "dbms.connector.http.listen_address=:7474" in the neo4j.conf file.

[2021-08-09 10:27] #865 closed

[2021-08-09 10:28] OskarDamkjaer commented on #1488
We've aware of this problem and working to fix it here: #1467

[2021-08-09 10:31] OskarDamkjaer commented on #1485
Hi! Oskar from the browser team here. Does this issue happen when you run the query from outside of neo4j browser as well (cypher shell / via driver)? And do you have some steps for us to recreate the issue? Does the database need to have any specific data or configuration?

[2021-08-09 10:49] ka1n4t commented on #1485
Hi, I run this query from the neo4j browser. A few minutes after I click "run" button, the browser turns gray. Database is the default configuration.

[2021-08-09 12:26] OskarDamkjaer commented on #1485
Could you check if it happens in an empty database as well?

[2021-08-09 13:42] #1460 closed

[2021-08-10 06:57] ka1n4t commented on #1485
No, It happends when I increase the fourth parameter of `apoc.algo.allSimplePaths()`

[2021-08-10 09:00] OskarDamkjaer commented on #1485
I'm having trouble re-creating your issue, what parameters do you pass to the apoc call?

[2021-08-12 02:43] process0 opened #1491 "Expanding node relationships causes `t is undefined`"
### Description

When exploring the graph returned from a query, for some nodes expanding their relationships will cause an error that renders the graph exploration mode unusable for the current query window and every other query window. The page has to be refreshed.

The error is `Uncaught TypeError: t is undefined`:
[code]

### Reproduce Steps

Expand nodes in graph explorer of the query window

[2021-08-12 09:26] OskarDamkjaer commented on #1491
Thanks for reporting this! Could you help us out by writing out some "CREATE" statements that create a graph that has this problem? I'm struggling to re-create your issue

[2021-08-12 14:09] process0 commented on #1491
I can once I deterministically reproduce the crash and understand why the crash is happening.

[2021-08-13 20:32] emdax opened #1498 "Easy add node button"
NEO4J is the best data model prototyping tool ever.
It would be even faster if the cool GUI had a simple button to quick add a node.
Right now it requires a lot of typing to build new query to add node.
Quick add node button would make playing in the GUI more fun and fast.

[2021-08-14 00:26] process0 opened #1497 "Browser fails to connect using Firefox"
### Description

Browser fails to connect using firefox-esr on debian.  Using chromium, it works fine.

### Reproduce Steps

Use firefox, unable to connect

### Expected Behavior

Able to connect

### Current Behavior

### Can you propose a solution?

What needs to be done to address this issue? Ideally, provide a pull request with a fix.

### Your Environment

| software name  | version
| -------

[2021-08-16 07:45] OskarDamkjaer commented on #1497
I run firefox as my main browser and I've not run into this issue, could you provide some more details? What errors do you get?

[2021-08-18 13:54] OskarDamkjaer commented on #1488
Fixed in release 4.3.2!

[2021-08-18 13:54] #1488 closed

[2021-08-19 08:24] OskarDamkjaer commented on #1150
Hi! Just checking in from the browser team, is this an issue when you build the latest?

[2021-08-20 10:29] OskarDamkjaer commented on #1270
@Mintactus Hi! Thanks for spending the effort to try to find the root cause! I think I've found a solution to your problem, this link contains a version of browser that should not have the issue: http://db_fallback.surge.sh/

It'd be great if you tried it to make sure it fixed the issue!

[2021-09-21 00:39] process0 commented on #1491
@OskarDamkjaer The closest i've gotten to reproducing is double clicking a node's expand relationships button quickly

[2021-09-21 08:02] OskarDamkjaer commented on #1491
We're working to improve our automatic crash reporting, so hopefully we can find the issue that way. I'll post an update when/if I learn more about this crash

[2021-09-23 14:51] Mogztter opened #1536 "Improve graph guide source block rendering"
### Description

Source blocks that contain relatively long lines are hard to read.
The first issue is that lines are misaligned because of the "play button"

![not-so-good](https://user-images.githubusercontent.com/333276/134527500-d7e77cbd-9e0c-4ab3-9d00-0acd32d2f79a.png)

As you can seen, the first line is misaligned with the other lines.
The second issue is that we are using line wrap on `.sli

[2021-09-28 14:54] OskarDamkjaer commented on #1491
Sentry.io is our crash reporting tool, it collects stats on what browser was used and what clicks led up to each crash. I've already seen someone else run into what seems like your crash. I'll post an update when I find the time to look into what causes it

[2021-09-28 18:43] abalter opened #1539 "ETL tool in neo4j browser"
How do I install the ETL tool in neo4j server? The browser does not have the plugin symbol the way the desktop version does.

[2021-09-30 10:52] Joker723 opened #1541 "How can graph nodes display names instead of URIs when importing ontologies"
### Description

I am a green hand，I imported an ontology written with Protege, and the node displayed uri after the import, which I felt was very inconvenient.  I want the node to display the name of the class I defined in the ontology instead of the URI.
Thank you in advance for your help
### Reproduce Steps。
I simply used the n10s.rdf.import.fetch() import

### Expected Behavior

### Current Be

[2021-09-30 10:53] Joker723 commented on #1541
I use Neo4j for version 4.3.4

[2021-09-30 10:53] Joker723 commented on #1541
I use Neo4j for version 4.3.4

[2021-09-30 17:23] OskarDamkjaer commented on #1541
If you click the label name in the visualization frame (circled in blue in my screenshot), you can pick what caption you like in the bottom of the frame (circle in red).
![CleanShot 2021-09-30 at 19 23 05@2x](https://user-images.githubusercontent.com/10564538/135502095-ddcbab5a-9752-48ec-97f7-75488554082b.png)

[2021-09-30 18:01] Joker723 commented on #1541
First of all thank you for your answer.
![image](https://user-images.githubusercontent.com/61485362/135505518-2d571336-bdc6-41f0-96b7-fac03b59b266.png)
![image](https://user-images.githubusercontent.com/61485362/135505557-e3ea1d4c-4d0c-4711-bd86-cec77b9717ec.png)
Maybe I'm expressing the problem, but I want the following picture to show the words (which I've marked with a red box) on the node inst

[2021-09-30 18:14] Joker723 commented on #1541
However, when I click on the property, it does change.I don't know why.
![image](https://user-images.githubusercontent.com/61485362/135508170-e4b06d6d-b89b-4cc1-801e-9b5066b62567.png)
![image](https://user-images.githubusercontent.com/61485362/135508259-371391e8-2894-46cd-b91d-99afd59ae1c7.png)
But it seems not I want, all in all, I want is a node on the content is to remove the prefix at http://w

[2021-09-30 19:19] OskarDamkjaer commented on #1541
Ah okay I understand. We don't plan to support removing a prefix on a caption sadly, but you can add the part you want as a caption as a separate property and use that!

[2021-10-01 04:22] Joker723 commented on #1541
Thank you very much for your answer.  The node display is not a URI, as shown in the figure below. Why?  Is it because of ontology?  I said I was a freshman, so maybe that was a stupid question.
![image](https://user-images.githubusercontent.com/61485362/135564890-b993b56e-6315-4da5-9255-ff95ea9bc380.png)

[2021-10-04 01:05] Joker723 opened #1543 "Cypher query error"
### Description

I have an ontology that I import into the graphics database via N10S.  As shown below: When I used cypher statement to query, something strange happened, as shown below: There is such a node in Neo4j, but it can only be queried by name, not by another attribute.
![D7S5MKIFR0I$M(PW$S_A}7](https://user-images.githubusercontent.com/61485362/137439747-5f1536e3-de2c-41f5-972e-308b9b49e

[2021-10-05 04:54] KHBAAW commented on #671
I have install neo4j on windows  but I cannot establish  database connection. It gives following error message

Unable to establish remote connection: Neo4jError: WebSocket connection failure. Due to security constraints in your web browser, the reason for the failure is not available to this Neo4j Driver. Please use your browsers development console to determine the root cause of the failure. Com

[2021-10-05 07:38] OskarDamkjaer commented on #671
The screenshots you sent are from the Neo4j Desktop product and not browser, you please reopen on that repo! https://github.com/neo4j-devtools/neo4j-desktop

[2021-10-15 06:02] #1543 closed

[2021-10-15 06:02] Joker723 opened #1567 "cypher query error"
### Description

I have an ontology that I import into the graphics database via N10S.  As shown below: When I used cypher statement to query, something strange happened, as shown below: There is such a node in Neo4j, but it can only be queried by name, not by another attribute.
![D7S5MKIFR0I$M(PW$S_A}7](https://user-images.githubusercontent.com/61485362/137439747-5f1536e3-de2c-41f5-972e-308b9b49e

[2021-10-19 07:58] #1567 closed, assigned to nobody

[2021-10-25 15:19] process0 opened #1575 "Minified react error #152"
### Description

I received this error message when clicking an error message describing inability to connect to database:

`Something went wrong: "Error: Minified React error #152; visit https://reactjs.org/docs/error-decoder.html?invariant=152&args[]=k for the full message or use the non-minified dev environment for full errors and additional helpful warnings." and the application can't recover.

[2021-11-12 16:07] GaryFrewin commented on #675
Yup. Still only getting 300 nodes also. Has this been fixed?

[2021-11-15 11:13] OskarDamkjaer commented on #675
@GaryFrewin Not sure I follow what issue you're running into. Are you trying to return more than 300 nodes and only seeing 300 regardless of the "Initial Node Display" setting in the sidebar?

[2021-12-14 08:21] Sudo-Swapnil commented on #921
I was also facing the same problem. You may try using [popotojs](https://www.npmjs.com/package/popoto)

[2021-12-21 02:45] Joker723 opened #1630 "there's a field starting with a quote and whereas it ends that quote there seems to be characters in that field after that ending quote."
When I import the CSV file, I get this error:there's a field starting with a quote and whereas it ends that quote there seems to be characters in that field after that ending quote.
![image](https://user-images.githubusercontent.com/61485362/146861933-bde0419f-27b0-447f-8130-62af48900f3f.png)
What I found was to manually modify the data in CSV，like this ![image](https://user-images.githubuserconte

[2021-12-29 10:15] OskarDamkjaer commented on #1477
Should be mostly resolved with #1632

[2021-12-29 10:15] #1477 closed

[2022-01-03 10:35] #1630 closed

[2022-01-20 12:54] OskarDamkjaer commented on #185
Hey everyone! It's been a few years with no activity from our end on this, but in the February release we'll update d3 and auto pause physics when we "think" we've achieved convergence (like @aanastasiou suggested). If there's any interested in previewing it and giving feedback, I can post again here when it's live in our canary (http://browser-canary.graphapp.io/)

[2022-01-26 18:53] Joshfindit commented on #185
@OskarDamkjaer Thanks for the work on this, and for giving us a way to see it first-hand.

I think there is a lot of potential for the approach but I do see a couple of issues:

1. It seems to stop the calculation "early"
  - When nodes are added to the scene they typically "pop" in to a central area, then act chaotically for a dozen frames or so before "calming down" to the point where all nodes

[2022-01-26 18:59] Joshfindit commented on #185
@aanastasiou

Sorry, I was not clear enough. I entirely agree with you that it would be very difficult to affect only those nodes that are outside the view box of a singe results panel. What I actually meant was stopping the animation of all nodes when the entire browser window is not visible (user switches to a different tab/window/application and neo4j is not on the screen any more)

For example

[2022-01-29 21:20] igrmk opened #1656 "`:params` incorrectly processes big numbers"
- Neo4j version: 4.4.0
- Operating system: Aura
- API/Driver: Cypher
- **Steps to reproduce**
  - Run `:params {"TooBigNumber": 637790870791443682}`
  - Check the result
- Expected behavior
[code]
- Actual behavior
[code]

[2022-02-09 07:55] Chetan11-dev opened #1666 "How did you made those graph animations?"
Could you link me to resources such as mdn docs where i can learn how to create those animated graph balls which I get when i run a cypher query such as (match (n) return n). They are really awesome.

[2022-02-09 13:43] OskarDamkjaer commented on #1666
Happy you like it! It's custom built on top of the [d3 library](https://d3js.org/) and the code is [here](https://github.com/neo4j/neo4j-browser/tree/master/src/browser/modules/D3Visualization). If you want to build something yourself I'd recommend using with some library built on top of d3, so you don't have to do the groundwork yourself! This [d3-graph-controller](https://graph-controller.yeger.

[2022-02-09 13:43] #1666 closed

[2022-03-04 12:53] typinator opened #1695 "Grass Style Not Applied for 'node.Node.2nd_Label' CSS Selector But Works for 'node.2nd_Label.Node' CSS Selector"
** Neo4j version:** desktop / browser 4.4.3
** Operating system:** MacOS 10.15.7

I've found that when trying to apply a Grass style based on the presence of two labels, one of which is 'Node', the style applied depends on the order of the two selectors and only works for 'node.2nd_Label.**Node**' not 'node.**Node**.2nd_Label'.

### Steps to reproduce
1. Create some node elements
2. Add label = 'N

[2022-03-04 13:01] typinator opened #1696 "Browser PNG Export Uses Serif Font WHich Doesn't Match Displayed Serif Font"
**Neo4j version:** browser 4.4.3
** Operating system:** MacOS 10.15.7

When exporting the displayed graph using PNG the font used in the PNG is different from that displayed in the browser - it is a serif font whereas the browser displays a sans serif font.

### Steps to reproduce
1. Run CYPHER graph query
2. Export result as PG - 'Export PNG'
3. Preview / open expeorted PNG file at 3

### Expecte

[2022-03-08 06:26] jiaenqiu commented on #342
2022-03-08 05:51:28.365+0000 ERROR Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: Lexical error at line 1, column 53.  Encountered: <EOF> after : "", reference 1a93f5f3-cd69-45a6-8232-32a5680aaca9.

[2022-03-10 21:22] test123-all commented on #1539
Hello @abalter,
I don't know if your problem is already solved but if you have access to your neo4j server and you are running it with docker you can add a volume for the plugins.

If you use docker-compose you can add the line `- /YOURPATH/neo4j-data/plugins:/plugins` to the volumes-section of your docker-compose.yml file. An example could look like this:

[code]
You have probably got a .jar file

[2022-03-10 22:02] test123-all opened #1699 "Node count in the database-information-menu doesn't match the amount in the overview-menu of the cypher query"
### Description

Bug:
Node count in the database-information-menu doesn't match the amount in the overview-menu of the cypher query, that matches all nodes and returns them.

### Reproduce Steps
Return all nodes of one database

### Expected Behavior
I would expect that both numbers would be the same.

### Current Behavior
The numbers aren't the same.

![Screenshot_20220310_222705](https://user-im

[2022-03-11 12:12] test123-all commented on #1699
## Important Addendum:
I noticed this morning how the number 8574 can be explained and that it is "probably right".

Some of the nodes in the database have multiple labels. The numbers on the right show how often the labels are present in the database. If I count the numbers together I exactly end up at 8574.

Is this intended? I expected the number of nodes.

I also noticed that the number of dis

[2022-03-11 15:26] OskarDamkjaer commented on #1699
Thanks for providing the extra info, it does look like we count number of labels on the right and number of nodes on the left, that's definitely confusing..

[2022-03-11 17:04] OskarDamkjaer commented on #1699
I've added this to our internal issue tracker, hopefully I can report back to you with progress soon! 😄

[2022-03-11 21:14] test123-all commented on #1699
Hey, no problem! :)

Thanks, I would suggest to keep both values, since they can both be helpful at times. But making it somehow clearer what is meant

[2022-06-08 19:39] touseef306 opened #1750 "Editing style in browser didn't work"
After importing the grass file when I click on run I got an error as follows.
Neo.ClientError.Statement.SyntaxError: Invalid input 'n': expected <init> (line 1, column 1 (offset: 0))
"node {"
 ^

[2022-06-09 07:47] OskarDamkjaer commented on #1750
Do you have some simple instructions I could follow to recreate your problem?

[2022-06-09 07:49] OskarDamkjaer commented on #1539
Thanks @test123-all for answering abalters question :)

[2022-06-09 07:49] #1539 closed

[2022-06-09 07:50] OskarDamkjaer commented on #1575
I've not managed to reproduce this error, if you find some reliable reproduction steps, feel free to re-open

[2022-06-09 07:50] #1575 closed

[2022-06-09 07:55] OskarDamkjaer commented on #1498
Thanks for the kind words and sorry about the slow response! While it's a fun idea it's not a feature we'll be prioritizing in the near future

[2022-06-09 07:55] #1498 closed

[2022-06-09 07:57] #1485 closed

[2022-06-09 07:59] OskarDamkjaer commented on #1270
As of #1509 we should handle this case by falling back to the system db.

[2022-06-09 07:59] #1270 closed

[2022-06-09 07:59] #1242 closed

[2022-06-09 08:01] OskarDamkjaer commented on #1482
Sorry about slow reply, I've fixed this in: #1523

[2022-06-09 08:01] #1482 closed

[2022-06-09 08:27] OskarDamkjaer commented on #185
A

[2022-06-09 08:27] #185 closed

[2022-06-09 08:29] #347 closed

[2022-06-09 08:44] OskarDamkjaer commented on #869
It had a long time coming but in modern versions of Neo4j Browser you can do this! Feel free to try it out at browser.neo4j.io at long last!
![CleanShot 2022-06-09 at 10 43 24@2x](https://user-images.githubusercontent.com/10564538/172804911-48d3fa4a-d531-4cc0-be46-4f7f2ba24b20.png)

[2022-06-09 08:44] #869 closed

[2022-06-09 08:48] #811 closed

[2022-06-09 13:01] touseef306 commented on #1750
Issue resolved.
While saving I didn't select all files that's why it got saved as text, which off course will not work for styling.

[2022-06-09 13:01] #1750 closed

[2022-06-09 13:01] touseef306 commented on #1750
Issue resolved

[2022-06-11 08:22] test123-all commented on #1539
@OskarDamkjaer No problem :)

[2022-06-15 09:27] Lucabenj opened #1757 "Stopping animation"
Can you put a button to stop the animation? Also as soon as the animation is created, the vertices and relationships are nicely arranged in a useful and orderly manner. After a few seconds, or after moving the mouse pointer a bit, it creates a very annoying chaos, and if the vertices are just a little more than 50 elements, the animation stops very slowly frustrating whole minutes. Greetings

[2022-06-21 09:01] watsonnnnn opened #1759 "Is considered extract the graph module for a common package?"
It's just one advice, the code is a little tricky for a newbee. So sad. (⊙︿⊙)

[2022-06-22 11:06] OskarDamkjaer commented on #1759
The graph module is extracted to be here: https://github.com/neo4j/neo4j-browser/tree/master/src/neo4j-arc/graph-visualization

[2022-06-24 15:00] ceisserer commented on #921
since this report is quite old, is there any news regarding neo4j browser embedding / re-use as component?

[2022-06-28 07:37] OskarDamkjaer commented on #921
As for using the whole of browser as a component, iframing it or cloning the project and hacking it to fit your needs would be the way to go. We don't have any plans to make it embeddable

[2022-06-28 07:37] #921 closed

[2022-06-28 08:15] wgevaert opened #1761 "Table output crashes on empty variable names."
### Description
Running queries such as `MATCH (``:Person) RETURN `` LIMIT 5` results in the error `Something went wrong: "Error: A column ID (or string accessor) is required!" and the application can't recover.` when trying to view the results as table.

I then have to reload the application and log back in, which is inconvenient.

The other output types (Graph/Text/Code) do allow for empty varia

[2022-07-06 08:33] noam7700 commented on #941
lucene doesnt support wildcard (*) on phrases that contains "special" characters that are supposed to be splitted to terms (tokens).

see [Lucene documentation](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html)

see also [stack overflow question](https://stackoverflow.com/questions/25450308/full-text-search-in-neo4j-with-spaces) that talks about this

[2022-07-08 08:01] OskarDamkjaer commented on #1536
Thanks for reporting this, I added a fix to it in #1774! It'll be in `4.4.7` / `5.0.0`. No release date set yet!

[2022-07-08 08:01] #1536 closed

[2022-07-08 08:02] OskarDamkjaer commented on #1696
Thanks for reporting this, we fixed it the latest version of browser (4.4.6) (pr #1751)

[2022-07-08 08:02] #1696 closed

[2022-07-08 08:04] #1699 closed

[2022-07-13 09:11] test123-all commented on #1699
Okay, thank you very much :) :+1:

[2022-07-17 00:11] nacnudus opened #1778 "Where is neo4j.conf for the standalone browser?"
### Description

Hello, I am running the standalone browser as described [here](https://neo4j.com/docs/browser-manual/current/deployment-modes/dedicated-web-server/#pre-built-neo4j-browser), by downloading the .jar, unzipping it, and hosting it with a server.  I would now like to configure it with neo4j.conf, but where will it find that file?  There is no such place as `NEO4J_HOME` in this situati

[2022-08-01 14:12] OskarDamkjaer commented on #1778
We read neo4j.conf values through the `dbms.listConfig()` neo4j procedure, so we need a connection to neo4j itself to use neo4j.conf settings

[2022-08-01 14:13] #1778 closed

[2022-08-07 06:04] waigitdas commented on #1497
I've just encountered this ... all of a sudden this evening. Work in Neo4j Desktop launched browser and in Chrome, but not Firefox.

The beo4j broswer connects to the server, opens and shows me the databases and, when selected, shows the nodes, relationship, properties. But if I click on a node to launch a query in get this error

Something went wrong: "TypeError: e is undefined" and the applicati

[2022-08-10 09:48] xiurobert opened #1797 "Monaco language definition?"
Having the monaco language definition could be quite nice if you want to quickly add syntax highlighting.

https://microsoft.github.io/monaco-editor/monarch.html

[2022-08-11 14:44] chenjunyi1999 opened #1798 "Can't launch 'Neo4j Browser' while it has the 'UPDATE_DOWNLOADING' state."
When I quit the 'Neo4j Browser' for the first time , I can not open 'Neo4j Browser' in Neo4j Desktop any more. The errors messages says **"Can't launch 'Neo4j Browser' while it has the 'UPDATE_DOWNLOADING' state."** . However,  I can always open it in my chrome 'http://localhost:7474/browser/'  <br>

I am wondering if it is a bug or something wrong with my network/browser.

Neo4j version: 4.4.3
Op

[2022-08-15 07:58] noahmay commented on #1497
I will look into it.

Just want to check with you @waigitdas, do you get the same error messages in the console?

[2022-08-23 00:10] ikarienator opened #1805 "Unable to build neo4j-browser locally"
Hi! I'm trying to build neo4j browser and it is giving me multiple syntax errors (happens while including monaco files) like this:

[code]
---
Version:

[code]
`yarn install` successfully installed `node_modules` without modifying `yarn.lock`.

[2022-08-23 02:24] psytron opened #1810 "Edit Node Properties in NEO4J Browser"
Would be great to quick edit node properties here:
<img width="999" alt="edithere" src="https://user-images.githubusercontent.com/7834453/186054780-86e9f013-37b6-4be7-99a8-a4333260fd0f.png">

[2022-08-25 07:24] #1759 closed

[2022-09-01 16:05] martinswanson opened #1818 "Cypher statements with string literals containing hash (#) are truncated when loading via the browser"
### Description

I created a file containing a single Cypher CREATE statement that includes a property with value containing a hash (#) character. When this file is loaded into the browser using Neo4j Desktop the CREATE statement is truncated, meaning it cannot be executed without throwing an error.

If I cut and paste the statement from the file directly into the browser the statement are copied

[2022-09-16 09:12] markslater opened #1826 "Neo4j Browser 'Export JSON' function does not escape backslash"

[2022-09-22 22:37] JefWight opened #1828 "Smarter autocomplete"
### Description
When writing a query in the browser, filter autocomplete suggestions down to valid values based on the database schema.

### Reproduce Steps
Using the sample Movie DBMS, start typing "MATCH (:Movie)-(:".  Upon typing ":" autocomplete pops up suggestions:
![image](https://user-images.githubusercontent.com/8570684/191856847-52df9f44-9943-4718-bbc4-a16e4d5ad2fa.png)

Unfortunately, no

[2022-09-23 08:23] OskarDamkjaer commented on #1828
Thanks for taking the time to do such a detailed write-up!

There are currently limitations in the `db.schema` (not always 100% correct, no node/rel properties) and the cypher-editor support (outdated parser, poorly maintained code) that make make perfect completion impossible.

But we shouldn't let perfect be the enemy of good (or decent in this case), so we're currently working on renewing the `

[2022-09-23 13:17] amartinez-forrester commented on #921
@OskarDamkjaer could you share some script that uses the neo4j-arc lib after query something from the graph?

[2022-10-09 09:50] notdodo opened #1833 "Error: error:0308010C:digital envelope routines::unsupported"
### Description
Following the README building instructions the following error is triggered:

[code]

### Reproduce Steps

* `git clone https://github.com/neo4j/neo4j-browser.git`
* `cd neo4j-browser`
* `yarn install`
* `yarn start` or `yarn start-prod`

### Expected Behavior
Build is successful

### Your Environment

| software name  | version
| ---------------|----------
|                |
| OS

[2022-10-10 12:32] stefano-ottolenghi opened #1834 "Missing space in "You are connected" message"
I observe a missing space in the connection message:

![Screenshot from 2022-10-10 14-29-41](https://user-images.githubusercontent.com/114478074/194866631-1de2bbfd-98f7-4f72-ae80-b754cba2f6a6.png)

this is due to a trailing space missing in https://github.com/neo4j/neo4j-browser/blob/master/src/browser/modules/Stream/Auth/ConnectedView.tsx#L44 , which when gets (possibly) concatenated with the hos

[2022-10-13 08:04] OskarDamkjaer commented on #1833
We're currently use node `16.10.0` and haven't updated to 18 yet. Perhaps we should note that in the readme until we update node :+1:

[2022-10-13 08:05] OskarDamkjaer commented on #1834
Feel free to submit a PR! Reach out here on the issue if you run into any issues :)

[2022-10-13 08:06] OskarDamkjaer commented on #1834
Probably best to wait with closing the issue until we've actually fixed the issue 😅

[2022-10-13 09:54] #1834 closed

[2022-10-22 20:03] mrksph commented on #1258
Hi, I've been wondering about this the last 2 years... Any update on this?

[2022-10-24 08:30] OskarDamkjaer commented on #1258
Hey! Sorry about the lack of updates here. I worked to fix this just last week! I'll post an update when it's released!

[2022-11-03 13:57] vikingUnet opened #1844 ""Movie Graph Guide" browser tutorial SyntaxError"

[2022-11-03 14:05] vikingUnet opened #1845 "Browser buttons text and table are changed places"
Neo4j version: 4.3.19
Operating system: Ubuntu 20.04.5 LTS
API/Driver: http://localhost:7474/browser/ tutorial "Movie Graph Guide", step 5
Steps to reproduce
Expected behavior
buttons table must show table and text must show text
Actual behavior
![image](https://user-images.githubusercontent.com/31891790/199741642-990a134e-dbab-425a-ae6b-e6876366864a.png)
![image](https://user-images.githubusercon

[2022-11-08 00:35] ajmeese7 commented on #1258
I was just coming here with the intention of adding a fix, glad to see that you're already on it!

[2022-11-11 13:56] laura-arditti opened #1853 "Changing relationship caption only zooms view"
### Description

When visualizing queries' results as a graph, clicking on a relationship opens a menu which allows to customize color, line width and caption for the relationship display. The default caption is the <type>, which displays the relationship's type, and other option include <id> and any of the relationship's attributes.
However, clicking any of the caption options does not result in

[2022-11-12 22:16] psytron commented on #1810
Any thoughts on this?

[2022-11-16 09:39] OskarDamkjaer commented on #1810
I think it's a good idea, but I'm not sure we'll want to extend the functionality from viewing data to altering data as it bring more challenges. I'll bring it up in a planning meeting.

[2022-11-17 10:36] OskarDamkjaer commented on #1258
I've implemented a fix for this now, thank you for your patience :tada: We're planning to do a browser release on monday (which will be shipped in neo4j 5.3.0 some time mid december iirc). From wednesday it should be in aura free (browser.neo4j.io that is)

The code for formatting is _old_ so there might very well be other things that look off as well, if so do post another comment here and I'll b

[2022-11-17 10:36] #1258 closed

[2022-11-17 13:43] eijawerner commented on #1853
Thanks for the report! We have solved the issue and it will be included in Browser in December release of Neo4j.

[2022-11-17 14:13] corysimmons commented on #1258
Thank you, and thanks for the update!

[2022-11-17 14:18] OskarDamkjaer commented on #1853
Here's the fix for reference #1858

[2022-11-17 14:31] mrksph commented on #1258
Thank you!

[2022-11-17 14:45] eijawerner commented on #1845
It is actually correct, it is just confusing since the Table only shows one single cell which is containing the json representation of cloudAtlas since it only returned one element that matched. If you run this query for example `MATCH (m:Movie<-[r:ACTED_IN]-(p:Person)RETURN m.title, r.roles, p.name;` then it is more clear that it is a table in the Table view (and yes the name Text is a bit confus

[2022-11-17 14:45] #1845 closed

[2022-11-19 03:59] psytron commented on #1810
Thanks @OskarDamkjaer Most other graph databases already have this functionality in the GUI. Why impose this limitation on NEO4J browser?  Power of NEO is playful molding adjusting experimenting with data. Why not allow users quick playful edit option? What about it brings more challenges?